body,
html {
    display: flex;
    overflow: hidden;
    place-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chat-container {
    align-items: center;
    flex-direction: column;
    display: flex;
    justify-content: center;
    height: 80%;
    width: 38%;
    border-radius: 10px;
    box-shadow: 20px 20px 40px 5px var(--azulQuatro);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    gap: 1vw;
}

.messages {
    padding: 2vw;
    width: 75%;
    height: 65%;
    justify-content: end;
    overflow-y: auto;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background-color: var(--backgroundAlerta);
}

.input-container {
    height: 8%;
    width: 86%;
    display: flex;
    gap: 4vw;
    justify-content: center;
    margin-top: 1vw;
}

.input-container input {
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    width: 60%;
    padding-left: 1vw;
}

.input-container button {
    width: 25%;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
    border: 2px solid rgba(0, 0, 0, 0.2);
}

.enviar {
    background-color: var(--spanH1);
    color: var(--textoBotaoForm);
    transition: 0.5s;
    pointer-events: all;
}

.semEnviar {
    pointer-events: none;
}

b {
    font-weight: bold;
}

.mensagemIa {
    background-color: var(--backgroundAlerta);
    color: var(--azulQuatro);
    word-wrap: break-word;
    hyphens: auto;
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
}

.mensagemUser {

    justify-self: end;
    width: 50%;
    margin-top: 1vw;
    margin-bottom: 1vw;
    word-wrap: break-word;
    hyphens: auto;
    text-align: left;
    background-color: var(--backgroundAlerta);
    color: var(--azulDois);
}

.textoDireita {
    text-align: right;
}

.barranav aside#details {
    top: 0;
    left: 0;
    background-color: var(--linkHeader);
}

.barranav aside#details summary {
    color: var(--linkHeaderChat);
}

.barranav aside#details ul li a {
    color: var(--linkHeaderChat);
}

@media (max-width:1280px){
    .chat-container {
        width: 70%;
        height: 65%;
    }
    .input-container{
    
        margin-top: 3vw;
    }
}

@media (max-width:1024px) {
    .chat-container {
        width: 70%;
        height: 65%;
    }
    .messages{
        width: 79%;
        height: 70%;
        padding: 3vw;
    }
    .input-container{
        width: 94%;
        margin-top: 3vw;
    }
}

@media (max-width:768px) {
    .chat-container {
        width: 80%;
        height: 60%;
    }
    .messages{
        width: 79%;
        padding: 3vw;
    }
    .input-container{
        width: 94%;
        margin-top: 3vw;
    }
}

@media (max-width:600px) {
    .chat-container {
        width: 90%;
    }
}

@media (max-width:480px) {
    .chat-container {
        width: 90%;
        height: 70%;
    }

    .mensagemUser {
margin-top: 5vw;
margin-bottom: 5vw;
    }

    .messages{
        width: 74%;
        padding: 5vw;
        height: 75%;
    }
    .input-container input::placeholder{
        font-size: 13px;
    }
    .input-container{
    
        margin-top: 4vw;
    }
}

