:root {
    --header: rgb(255, 255, 255);
    --linkHeader: rgb(0, 0, 0);
    --linkContornoHoverHeader: rgb(0, 0, 0);
    --headerChat:rgb(0, 0, 0);
    --linkHeaderChat:rgb(255, 255, 255);
    --linkContornoHoverHeaderChat:rgb(255, 255, 255);
    --backgroundAlerta:rgb(255, 255, 255);
    --h1:rgb(255, 255, 255);
    --h2:rgb(255, 255, 255);
    --spanH1:rgb(15, 35, 96);
    --footer:rgb(126, 151, 219);
    --textoFooter:rgb(255, 255, 255);
    --botaoForm: rgb(65, 90, 172);
    --textoBotaoForm:rgba(255, 255, 255, 1);
    --textoPadrao:rgba(0, 0, 0, 1);
    --textoBranco:rgb(255, 255, 255);
    --backgroundPrincipal:rgb(144, 165, 223);
    --destaques:rgb(3, 2, 3);
    --ernestro:rgb(255, 217, 0);
    --textoNav: rgb(15, 35, 96);
    --destaqueNav: rgb(144, 165, 223);
    --azulUm: rgb(144, 165, 223);
    --azulDois: rgb(65, 90, 172);
    --azulTres: rgb(15, 35, 96);
    --azulQuatro: rgb(0, 14, 57);
}