section.s1 {
    padding: 5vw 8vw 5vw 8vw;
}

section.s1 div h2 {
    color: #415AAC;
}

section.s1 div p {
    color: var(--textoPadrao);
    margin: 2vw 0 3vw 0;
}

section.s1 div button {
    background-color: var(--azulTres);
    border: none;
    border-radius: 1vw;
    color: var(--textoBotaoForm);
    padding: 1.8vw 2.8vw;
    transition: 0.3s;
}

section.s1 div button:hover {
    transform: scale(110%);
    transition: 0.3s ease-in-out;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 1);
    box-shadow: 2px 2px 20px 0px rgba(0, 0, 0, 1);
}

section.s2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3vw 0 8vw 0;
}

section.s2 div {
    background-color: var(--botaoForm);
    padding: 10vw;
    width: 60vw;
    height: 16vw;
    padding: 10vw 5vw 10vw 5vw;
    border-radius: 2vw;
    box-shadow: 10px 2px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.5s ease-in-out;
    color: var(--textoBotaoForm);
}

section.s2 div h2 {
    text-align: center;
}

section.s2 div p {
    margin: 4vw 0 4vw 0;
}

section.s2 div img {
    height: 12vw;
    width: 18vw;
    filter: saturate(1.5);
    border-radius: 2vw;
    z-index: 1;
}

section.s2 div ul {
    display: flex;
}

section.s2 div ul li {
    margin: 0 1vw 0 1vw;
}

section.s3 div {
    background-color: var(--azulUm);
    display: flex;
    padding: 5vw 0 2vw 0;
    align-items: center;
}

section.s3 div img {
    margin-left: 5vw;
    width: 80%;
    height: 80%;
}

section.s3 div.bloco {
    display: block;
    background-color: var(--header);
    margin: 5vw;
    padding: 2vw;
    border-radius: 2vw;
}

section.s3 h2 {
    padding: 2vw 1vw 2vw 1vw;
    text-align: right;
    color: var(--azulTres);
}

section.s3 p {
    padding: 0 1vw 2vw 1vw;
    text-align: right;
    color: var(--azulDois);
}

@media (max-width:1440px){

    section.s2 div img {
        height: 15vw;
        width: 22vw;
        filter: saturate(1.5);
        border-radius: 2vw;
        z-index: 1;
    }

    section.s1 div button {
        background-color: var(--azulTres);
        border: none;
        border-radius: 1vw;
        color: var(--textoBotaoForm);
        padding: 2vw 3vw;
        transition: 0.3s;
        font-size: 28px;
    }
    section.s2 div {
        background-color: var(--botaoForm);
        width: 70%;
        height: 1%;
        padding: 6vw 5vw 6vw 5vw;
    }

    section.s3 div div.bloco {
        padding: 1.5vw;
        margin-left: 10vw;
        margin-right: 5vw;
    }
    section.s3 div img{
       margin: 0;
       margin-left: 5vw;
        width: 22vw;
        height: 22vw;

    }
    section.s3 div{
        align-items: center;
    }
}
@media (max-width:1280px){

    section.s2 div img {
        height: 13vw;
        width: 20vw;
        filter: saturate(1.5);
        border-radius: 2vw;
        z-index: 1;
    }

    section.s1 div button {
        background-color: var(--azulTres);
        border: none;
        border-radius: 1vw;
        color: var(--textoBotaoForm);
        padding: 2vw 3vw;
        transition: 0.3s;
        font-size: 28px;
    }
    section.s2 div {
        background-color: var(--botaoForm);
        width: 60%;
        height: 1%;
        padding: 6vw 5vw 6vw 5vw;
    }

    section.s3 div div.bloco {
        padding: 1.5vw;
        margin-left: 10vw;
        margin-right: 5vw;
    }
    section.s3 div img{
       margin: 0;
       margin-left: 5vw;
        width: 30vw;
        height: 30vw;

    }
    section.s3 div{
        align-items: center;
    }
}

@media (max-width:1024px){
    section {
        text-align: center;
    }

    section.s2 {
        margin-bottom: 10vw;
    }

    section.s1 div button {
        font-size: 33px;
        padding: 3vw 4vw;
        margin-top: 2vw;
        border-radius: 12px;
    }

    section.s2 div {
        width: auto;
        height: auto;
        padding: auto;
        margin: 3vw;
    }

    section.s2 div {
        border-radius: 2.5%;
    }

    section.s2 div ul {
        gap: 5vw;
    }

    section.s2 div ul li img {
        width: 50vw;
        height: 35vw;
    }

    section.s2 div ul li:nth-child(n + 2) {
        display: none;
    }

    section.s3 div {
        display: block;

    }

    section.s3 div img {
        margin: 5vw 0 5vw 8vw;
        width: 40%;
        height: 40%;
    }

    section.s3 p {
        text-align: center;
    }

    section.s3 h2 {
        text-align: center;
    }

    section.s3 div div.bloco {
        padding: 2.5vw;
    }
}

@media (max-width:768px) {
    section {
        text-align: center;
    }

    section.s2 {
        margin-bottom: 10vw;
    }

    section.s1 div button {
        font-size: 27px;
        padding: 3vw 4vw;
        margin-top: 2vw;
        border-radius: 12px;
    }

    section.s2 div {
        width: auto;
        height: auto;
        padding: auto;
        margin: 3vw;
    }

    section.s2 div {
        border-radius: 2.5%;
    }

    section.s2 div ul {
        gap: 5vw;
    }

    section.s2 div ul li img {
        width: 45vw;
        height: 30vw;
    }

    section.s2 div ul li:nth-child(n + 2) {
        display: none;
    }

    section.s3 div {
        display: block;

    }

    section.s3 div img {
        margin: 5vw 0 5vw 8vw;
        width: 40%;
        height: 40%;
    }

    section.s3 p {
        text-align: center;
    }

    section.s3 h2 {
        text-align: center;
    }

    section.s3 div div.bloco {
        padding: 2.5vw;
    }
}

@media (max-width:600px) {
    section {
        text-align: center;
    }

    section.s2 {
        margin-bottom: 10vw;
    }

    section.s1 div button {
        font-size: 20px;
        padding: 4vw 5vw;
        margin-top: 2vw;
        border-radius: 12px;
    }

    section.s2 div {
        width: auto;
        height: auto;
        padding: auto;
        margin: 3vw;
    }

    section.s2 div {
        border-radius: 2.5%;
    }

    section.s2 div ul {
        gap: 5vw;
    }

    section.s2 div ul li img {
        width: 70vw;
        height: 45vw;
    }

    section.s2 div ul li:nth-child(n + 2) {
        display: none;
    }

    section.s3 div {
        display: block;

    }

    section.s3 div img {
        margin: 5vw 0 5vw 8vw;
        width: 50%;
        width: 50%;
    }

    section.s3 p {
        text-align: center;
    }

    section.s3 h2 {
        text-align: center;

    }

    section.s3 div div.bloco {
        padding: 2.5vw;
    }
}

@media (max-width:480px) {
    section {
        text-align: center;
    }

    section.s2 {
        margin-bottom: 10vw;
    }

    section.s1 div button {
        font-size: 17px;
        padding: 5vw 6vw;
        margin-top: 2vw;
        border-radius: 12px;
    }

    section.s2 div {
        width: auto;
        height: auto;
        padding: auto;
        margin: 3vw;
    }

    section.s2 div {
        border-radius: 2.5%;
    }

    section.s2 div ul {
        gap: 5vw;
    }

    section.s2 div ul li img {
        width: 70vw;
        height: 45vw;
    }

    section.s2 div ul li:nth-child(n + 2) {
        display: none;
    }

    section.s3 div {
        display: block;

    }

    section.s3 div img {
        margin: 5vw 0 5vw 8vw;
        width: 50%;
        width: 50%;
    }

    section.s3 p {
        text-align: center;
    }

    section.s3 h2 {
        text-align: center;

    }

    section.s3 div div.bloco {
        padding: 2vw;
    }
}