html {
    overflow: hidden;
    background-color: var(--azulUm);
}

.alertaOk {
    user-select: none;
    background-color: white;
    justify-items: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    z-index: 5;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: all;
    padding: 1.3vw;
    border-radius: 20px;
    -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 1);
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 1);
    filter: none;
}

.alertaOk p {
    color: var(--textoPadrao);
    font-weight: bold;
    margin-bottom: -2vw;
}

.botaoOk {
    margin-top: 3vw;
}

.divAlerta {
    user-select: none;
    background-color: var(--backgroundAlerta);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: all;
    padding: 1.3vw;
    border-radius: 20px;
    -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 1);
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 1);
    filter: none;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.divAlerta div p {
    color: var(--textoPadrao);
    font-weight: bold;
    margin-bottom: 1vw;
}

.divAlerta div p span {
    color: var(--azulUm);
}

.divAlerta a {
    text-decoration: none;
    color: var(--textoPadrao);
}

.divAlerta div.divTextoBotao {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.divAlerta div div {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vw;
}

section {
    user-select: none;
    -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 1);
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 1);
    background-color: white;
    text-align: baseline;
    border-radius: 1vw;
    padding: 6vw;
    z-index: 1;
    transition: 0.3s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    height: 50%;
}

section#form1 h1 {
    text-align: center;
    color: var(--textoPadrao);
    font-weight: bold;
    font-size: 3rem;
}

section#form1 ul {
    margin-top: 1vw;
}

section div h2 {
    font-weight: bold;
    text-align: center;
    margin-top: 1vw;
    margin-bottom: 1vw;
    font-size: 1.7rem;
}

div.botoes {
    margin-top: 3vw;
}


section ul {
    margin-top: 2vw;
    display: flex;
    align-items: center;
    flex-direction: column;
}

section ul li {
    display: flex;
    align-items: center;
}

section ul li input {
    background-color: rgb(224, 224, 224);
    margin-left: 0.5vw;
    color: var(--textoPadrao);
    padding: 0.2vw 0.2vw 0.2vw 0.2vw;
    border-radius: 0.3vw;
    cursor: pointer;
    transition: .3s;
    outline: none;
    margin-bottom: 1vw;

}

section ul li input:hover {
    background-color: rgb(204, 203, 203);
}

section ul li input:focus {
    background-color: rgb(243, 242, 242);
    outline: 1px solid black;
    transition: .15s;
}

section ul.Data {
    display: flex;
    align-self: center;
    width: 100%;
}

section ul.Data li.libotoes {
    width: 100%;
    justify-content: center;
}

section ul.Data li div {
    margin-top: 3vw;
    display: flex;
    justify-content: center;
    gap: 2vw;
    width: 100%;

}

section ul.Data li div button {
    width: 40%;

}

section ul li .inputData {
    width: 1.5vw;
    margin: -1vw 0vw 0 1vw;
}

.inputData:hover {
    width: 10vw;
    transition: .5s;
}

.inputData:focus {
    background-color: rgb(243, 242, 242);
    outline: 1px solid black;
    transition: .15s;
}

.form-container {
    display: none;
}

section ul li .labelData {
    margin: -1vw 0vw 0vw 0;
    display: flex;
}

section ul li .labelSexo {
    margin: 1vw 0 0 0;
}

select {
    margin: 1.5vw 0 0 0.5vw;
}

button {
    background-color: transparent;
    border: black 1px solid;
    border-radius: 10px;
    padding: 1vw 2vw;
    position: relative;
    overflow: hidden;
    transition: .3s;
}

.barra {
    background-color: bisque;
    margin-top: 1vw;
    width: 20vw;
    height: 2px;
    background-color: black;
}

button::after {
    content: "";
    position: absolute;
    background-color: black;
    left: 0;
    top: 0;
    width: 0vw;
    height: 6vw;
    transition: 0.3s ease-in-out;
}

button:hover::after {
    width: 14vw;
    transition: .3s ease-in-out;
    z-index: -1;
}

button:hover {
    color: white;
    z-index: 1;
    transition: .3s;
}

section fieldset {
    display: flex;
    align-items: center;
    margin-top: 2vw;
    padding-left: 0;
}

.firstField div {
    display: flex;
    flex-direction: column;
}

section fieldset input:first-child {
    margin-left: 0;
}

section fieldset legend {
    color: var(--azulUm);
    font-weight: bold;
    margin-bottom: 1vw;
}

section fieldset input[type="radio"] {
    appearance: none;
    width: 1.2vw;
    height: 1.2vw;
    border: 2px solid black;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    transition: 0.3s ease-in-out;
}

section fieldset input[type="radio"]::before {
    content: "";
    width: 0.6vw;
    height: 0.6vw;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.3s ease-in-out;
}


section fieldset input[type="radio"]:checked::before {
    transform: translate(-50%, -50%) scale(1);
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.8);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

.active {
    display: flex;
}

.hide {
    animation: fadeOut 0.0s ease forwards;
}

@keyframes fadeOut {
    from {
        opacity: 1;
        transform: scale(1);
    }

    to {
        opacity: 0;
        transform: scale(0.8);
    }
}

.divFundo {
    background-color: rgb(233, 234, 235);
    padding: 1.5vw 5vw 1.5vw 1.5vw;
    border-radius: 15px;
    border: 1px solid black;
}

.divFundo label {
    margin-top: 0.3vw;
}

.esp div label {
    margin: 1vw 0.1vw 0 0.1vw;
}

.semCliques {
    backdrop-filter: blur(5px);
    z-index: 2;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
}

.sair:hover {
    color: var(--backgroundAlerta);
}

.cadastrado {
    display: none;
}
button{
    font-size: 0.6rem;
}
@media (max-width:1024px) {
    section {
        width: 60%;
        height: 65%;
        border-radius: 12px;
        padding: 5vw;
    }

    .alertaOk {
        width: 40%;
        height: 15%;

    }

    .alertaOk P {
        text-align: center;
        margin-bottom: 5vw;

    }

    .alertaOk button {
        width: 50%;
        height: 40%;
    }

    .divAlerta {
        height: 20%;
        width: 50%;
        text-align: center;

    }

    .divAlerta div.divTexoBotao {
        width: 100%;
    }

    .divAlerta div div {
        gap: 5vw;
        height: 100%;
    }

    .divAlerta div div button {
        width: 40%;
        height: 100%;
    }

    .divAlerta p {

        margin-bottom: 0;
    }

    .botaoOk {
        margin-top: 0;
    }

    h2 {
        margin-top: 0vw;
    }

    .barra {
        width: 80%;
        margin-top: 4vw;
        margin-bottom: 4vw;
    }

    section ul {
        gap: 5vw;
    }

    section#form1 ul.Data li.libotoes div button {
        padding-top: 3vw;
        padding-bottom: 3vw;
        padding-left: 4vw;
        padding-right: 4vw;
        width: 40%;
    }

    section#form1 ul.Data li.libotoes div {
        width: 100%;
    }


    li.libotoes {
        width: 100%;
        justify-content: center;
    }

    section#form1 h2 {
        font-size: 25px;
    }

    section#form2 {
        gap: 5vw;
    }

    section#form2 h2 {
        margin-bottom: 5vw;
    }

    fieldset.firstField {
        margin-top: 0;
    }

    fieldset.firstField .divFundo {
        margin-left: 10vw;

    }

    fieldset.firstField legend {
        font-size: 17px;
        margin-bottom: 4vw;
        margin-top: 0;
    }

    section fieldset input[type="radio"] {
        width: 5vw;
        height: 5vw;
    }

    section fieldset input[type="radio"]::before {
        width: 3vw;
        height: 3vw;
    }

    section#form2 label {
        font-size: 15.8px;
    }

    section#form2 .firstField {
        gap: 4vw;
    }

    section fieldset legend {
        margin-bottom: 4vw;
    }

    div.botoes {
        place-content: center;
    }

    div.botoes button {
        padding-top: 3vw;
        padding-bottom: 3vw;
        padding-left: 4vw;
        padding-right: 4vw;
    }

    div.botoes button:last-child {
        margin-left: 5vw;
        margin-top: 2vw;
        padding-left: 7vw;
        padding-right: 7vw;
    }

    section fieldset input[type="radio"]:checked::before {
        transform: translate(-50%, -50%) scale(1);
    }

}

@media (max-width:600px) {
    .alertaOk {
        width: 60%;
        height: 15%;

    }

    .alertaOk button {
        width: 50%;
        height: 25%;
    }

    .divAlerta {
        height: 15%;
        width: 65%;
        text-align: center;

    }
    li.libotoes button {
font-size: 0.8rem;
    }
    section {
        width: 80%;
        height: 70%;
        border-radius: 12px;
        padding: 5vw;
    }

}