/* CSS Reset */
* {
   margin: 0;
   padding: 0;
   border: 0;
   font-size: 100%;
   font: inherit;
   vertical-align: baseline;
   list-style: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
   display: block;
}

ol,
ul {
   list-style: none;
}

blockquote,
q {
   quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
   content: '';
}

/* HTML */
html {
   font-family: Inter;
}

h1 {
   font-size: 4rem;
}

h2 {
   font-size: 3rem;
}

p {
   font-size: 1.2rem;
   hyphens: auto;
}

.expPerso {
   font-size: 1.2rem;
}

a {
   font-size: 1.2rem;
}

summary {
   font-size: 1.5rem;
   transform: translate(-0.1vw, -0.1vw);
   color: var(--azulUm);
}

button {
   place-content: center;
   font-size: 1.5rem;
}

h4 {
   font-size: 1.8rem;
}

li span {
   font-size: 2rem;
}

/* Barra de Navegação */
.mensagemBoasVindas {
   color: var(--azulUm);
   pointer-events: none;
   cursor: default;
}

.bemVindoOculto {
   display: none;
}

.semCliques {
   filter: blur(10px);
   pointer-events: none;
}

.noScroll {
   overflow: hidden;
   margin-right: 0.3vw;
}

.confirmacao div.botoesConfirmacao {
   justify-content: center;
   display: flex;
   gap: 3vw;
   margin-top: 1vw;
}

.confirmacao div button {
   width: 40%;
   height: 80%;
}

.confirmacao {
   background-color: var(--backgroundAlerta);
   position: fixed;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   pointer-events: all;
   padding: 2vw;
   border-radius: 1vw;
   -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 1);
   -moz-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 1);
   box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 1);
   z-index: 2;
}

.confirmacao .desistir {
   padding: 1vw 1vw 1vw 1vw;
   border-radius: 0.4vw;
   text-decoration: none;
   border: 2px solid black;
   transition: 0.3s;
}

.confirmacao .desistir:hover {
   transform: scale(120%);
   -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 1);
   -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 1);
   box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 1);
}

.confirmacao p {
   font-weight: bold;
}

.confirmacao .ir {
   padding: 1vw 2.3vw 1vw 2.3vw;
   border-radius: 0.4vw;
   text-decoration: none;
   border: 2px solid rgba(0, 0, 0, 1);
   transition: 0.3s;
}

.confirmacao .ir:hover {
   transform: scale(120%);
   -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 1);
   -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 1);
   box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 1);
}

header {
   user-select: none;
   background-color: var(--header);
   align-items: center;
}

header .barranav {
   gap: 3vw;
   justify-content: end;
   padding-top: 2vw;
   padding-bottom: 2vw;
   padding-right: 5vw;
   display: flex;
}

header .barranav div a {
   text-decoration: none;
   color: var(--textoNav);
   cursor: pointer;
}

header .barranav .expPerso {
   cursor: pointer;
   color: var(--textoNav);
}

header .barranav .scrolled {
   border-bottom: 2px solid var(--azulUm);
   border-right: 2px solid var(--azulUm);
}

header .barranav aside {
   background-color: var(--header);
   flex-direction: column;
   position: fixed;
   padding: 2vw;
   top: 0;
   left: 0;
   border-radius: 0 0 50px 0;
}

header .barranav aside #summary {
   cursor: pointer;
}

header .barranav aside ul {
   list-style: none;
}

header .barranav aside ul li {
   padding-top: 1vw;
   padding-right: 1vw;
   opacity: 0;
}

header .barranav aside ul li a {
   cursor: pointer;
   text-decoration: none;
   color: var(--azulUm);
}

.fechado {
   height: 1.5vw;
   width: 1.5vw;
   transition: height 0.3s ease-in-out, width 0.2s ease-in-out;
   transition-delay: 0s, 0.3s;
   z-index: 1000;
}

.aberto {
   height: 100vh;
   width: 9vw;
   z-index: 1000;
   transition: height 0.3s ease-in-out, width 0.2s ease-in-out;
   transition-delay: 0.2s, 0s;
}

.items {
   opacity: 0;
   transform: translateY(-3vw);
}

.items.show {
   opacity: 1;
   margin-top: 1vw;
   transform: translateY(0);
}

aside.aberto .items {
   opacity: 1;
   transition: opacity 1.5s ease-in-out, margin 1s ease-in-out;
}

aside.fechado .items {
   opacity: 0;
   pointer-events: none;
   transition: opacity 0.3s ease-in-out, margin-top 1s ease-in-out, transform 1s;
}

/* Seção de Início */
.principal {
   background-color: var(--backgroundPrincipal);
   display: flex;
   justify-content: end;
   padding: 17.7vw 0 17.7vw 0;
}

.principal div {
   margin: 0 5vw 0 0;
   text-align: end;
}

.principal div h1 {
   padding-top: 2vw;
   padding-bottom: 2vw;
   color: var(--h1);
}

.principal div h1 span {
   color: var(--spanH1);
}

.principal div h2 {
   color: var(--h2);
   margin: 1vw 0 1vw 0;
}

.principal div p {
   color: var(--h1);
}

/* Rodapé */
footer {
   background-color: var(--azulQuatro);
   display: flex;
   align-items: center;
   justify-content: center;
   padding-top: 2vw;
   padding-bottom: 2vw;
}

footer .DivFooter1 {
   display: flex;
   justify-content: space-around;
   align-items: center;
   width: 100%;
}

footer .DivFooter1 img {
   width: 8%;
}

footer .DivFooter1 p {
   color: var(--textoFooter);
}

footer .DivFooter1 ul {
   display: flex;
   gap: 2vw;

}

footer .DivFooter1 ul li a span {
   color: var(--textoFooter);
   font-size: 1.6rem;
}

.brOculto {
   display: none;
}

@media (min-width: 1920px) {
   header .barranav aside {
      padding-right: 1.5vw;
      padding-bottom: 1.5vw;
      padding-top: 2vw;
      padding-left: 2vw;
      border-bottom-right-radius: 25px;
   }
}

@media (max-width: 1440px) {
   header .barranav aside {
      padding-right: 2vw;
      padding-bottom: 2vw;
      padding-top: 2vw;
      padding-left: 2vw;
      border-bottom-right-radius: 20px;
   }
}

@media (max-width: 1280px) {
   header .barranav aside {
      padding-right: 2.5vw;
      padding-bottom: 2.5vw;
      padding-top: 2vw;
      padding-left: 2vw;
      border-bottom-right-radius: 20px;
   }
}


@media (max-width: 1024px) {
   h1 {
      font-size: 78px;
   }

   h2 {
      font-size: 45px;
      margin-bottom: 5vw;
   }

   p,
   a,
   button,
   .expPerso,
   label,
   .s6 li.bloco {
      font-size: 30px;
   }

   h4 {
      font-size: 34px;
   }

   .principal {
      justify-content: center;
   }

   .principal div h1 {
      text-align: center;
      margin-bottom: 2vw;
   }

   .principal div h2 {
      text-align: center;
   }

   .principal div .aviso {
      text-align: center;
      font-size: 15px;
      margin-top: 4vw;
   }

   header .barranav div a {
      font-size: 30px;
   }

   header {
      height: 10vw;
   }

   header .barranav div {
      font-size: 30px;
   }


   .principal div {
      margin: 0;
   }

   footer {
      height: 20vw;
      display: flex;
      align-items: center;
      justify-content: space-around;
   }

   footer .DivFooter1 p {
      font-size: 25px;
   }

   footer .DivFooter1 ul li a span {
      color: var(--textoFooter);
      font-size: 30px;
   }

   footer .DivFooter1 ul {
      gap: 5vw;
   }

   footer .DivFooter1 img {
      width: 20vw;
   }

   header .barranav div {
      text-align: center;
      display: flex;
      justify-content: center;
   }

   header .barranav div p {
      display: flex;
      align-items: center;
      justify-content: center;
   }


   header .barranav .expPerso {
      justify-content: center;
      display: flex;
      align-items: center;
   }

   header .barranav div p.mensagemBoasVindas {
      display: flex;
      align-items: center;
      justify-content: center;
      display: none;
   }

   header .barranav {
      height: 10vw;
      padding-right: 5vw;
      padding-top: 2vw;
      gap: 10vw;
   }

   summary {
      font-size: 40px;
      transform: translate(-0.5vw, -0.5vw);
   }

   header .barranav aside {
      padding-right: 6vw;
      padding-bottom: 6vw;
      padding-top: 4vw;
      padding-left: 4vw;
      border-bottom-right-radius: 25px;
   }

   header .barranav aside.aberto {
      width: 28vw;
   }

   header .barranav aside ul li.items.show {
      margin-top: 5vw;
   }

   header .barranav aside ul li a {
      font-size: 30px;
   }

   .bemVindoOculto {
      display: flex;
      justify-content: center;
      align-items: center;
   }

   .mensagemBoasVindasMobile {
      font-size: 30px;
      color: var(--azulUm);
      padding-bottom: 5vw;
      margin-top: 7vw;
   }

   .brOculto {
      display: block;
   }

   div div.confirmacao {
      width: 70%;
      height: 20%;
      place-content: center;
      border-radius: 20px;
   }

   div div.confirmacao div {
      font-size: 20px;
      margin: 4%;
   }

   div div.confirmacao div.botoesConfirmacao button {
      border-radius: 10px;
   }

   ul.nomes {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: center;
      gap: 0vw;

      li {
         a {
            color: rgb(255, 255, 255);
            font-size: 17px;
         }
      }
   }

}

@media (max-width: 768px) {
   h1 {
      font-size: 50px;
   }

   h2 {
      font-size: 38px;
      margin-bottom: 5vw;
   }

   p,
   a,
   button,
   .expPerso,
   label,
   .s6 li.bloco {
      font-size: 23px;
   }

   h4 {
      font-size: 28px;
   }

   header .barranav div a {
      font-size: 28px;
   }

   header {
      height: 13vw;
   }

   header .barranav div {
      font-size: 28px;
   }

   footer {
      height: 20vw;
   }

   footer .DivFooter1 p {
      font-size: 24px;
   }

   footer .DivFooter1 ul li a span {
      font-size: 24px;
   }

   footer .DivFooter1 img {
      width: 15vw;
   }

   summary {
      font-size: 39px;
      transform: translate(0.5vw, 0.5vw);
   }

   header .barranav aside {
      padding-right: 10vw;
      padding-bottom: 10vw;
      padding-top: 5vw;
      padding-left: 5vw;
      border-bottom-right-radius: 30px;
   }

   header .barranav aside.aberto {
      width: 28vw;
   }

   header .barranav aside ul li a {
      font-size: 32px;
   }

   div div.confirmacao {
      height: 20%;
   }

   ul.nomes {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: center;
      gap: 0vw;

      li {
         a {
            color: rgb(255, 255, 255);
            font-size: 12px;

         }
      }
   }
}

@media (max-width: 600px) {
   h1 {
      font-size: 55px;
   }

   h2 {
      font-size: 38px;
   }

   p,
   a,
   button,
   .expPerso,
   label,
   .s6 li.bloco {
      font-size: 20px;
   }

   h4 {
      font-size: 28px;
   }

   .principal div h2 {
      font-size: 20px;
   }

   header .barranav div a {
      font-size: 20px;
   }

   header {
      height: 4vw;
   }

   header .barranav div {
      font-size: 20px;
   }

   footer {
      height: 30vw;
   }

   footer .DivFooter1 p {
      font-size: 20px;
   }

   footer .DivFooter1 ul li a span {
      font-size: 20px;
   }

   footer .DivFooter1 img {
      width: 20vw;
   }

   header .barranav {
      height: 16vw;
   }

   summary {
      font-size: 32px;
   }

   header .barranav aside {
      padding-right: 11vw;
      padding-bottom: 11vw;
      padding-top: 6vw;
      padding-left: 6vw;
      border-bottom-right-radius: 28px;
   }

   header .barranav aside.aberto {
      width: 25vw;
   }

   header .barranav aside ul li a {
      font-size: 28px;
   }

   .mensagemBoasVindasMobile {
      font-size: 20px;
      padding-bottom: 5vw;
      margin-top: 15vw;
   }

   ul.nomes {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      align-items: center;
      gap: 0;
      justify-content: center;

      li {
         a {
            color: rgb(255, 255, 255);
font-size: 10px;
         }
      }
   }
}


@media (max-width: 480px) {
   h1 {
      font-size: 40px;
   }

   h2 {
      font-size: 30px;
      margin-bottom: 5vw;
   }

   p,
   a,
   button,
   .expPerso,
   label,
   .s6 li.bloco {
      font-size: 15px;
   }

   h4 {
      font-size: 20px;
   }

   .principal div .aviso {
      font-size: 15px;
   }

   header .barranav div a {
      font-size: 15px;
   }

   header {
      height: 8vw;
   }

   footer {
      height: 30vw;
   }

   footer .DivFooter1 p {
      font-size: 13px;

   }

   footer .DivFooter1 ul li a span {
      font-size: 20px;
   }

   footer .DivFooter1 img {
      width: 19vw;
   }

   header .barranav {
      height: 12vw;
      padding-right: 5vw;
      padding-top: 6vw;
      gap: 10vw;
   }

   header .barranav div {
      font-size: 15px;
   }

   summary {
      font-size: 25px;
      transform: translate(0.5vw, 0.5vw);
   }

   header .barranav aside {
      padding-right: 13vw;
      padding-bottom: 13vw;
      padding-top: 7vw;
      padding-left: 7vw;
      border-bottom-right-radius: 25px;
   }

   header .barranav aside.aberto {
      width: 26vw;
   }

   header .barranav aside ul li a {
      font-size: 20px;
   }

   div div.confirmacao {
      height: 17%;
   }

   ul.nomes {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: center;

      li {
         a {
            color: rgb(255, 255, 255);
            font-size: 8px;

         }
      }
   }

}

.nomes {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 1vw;

   li {
      width: 100%;
      justify-content: center;
      display: flex;

      a {
         color: white;
         font-size: 1.2rem;
         margin: -1vw;
      }
   }
}