/* Adaptação da seção principal para ficar mais arrumado seu subtitulo*/
section.principal {
    div {
        h2 {
            margin-left: 50vw;
        }
    }
}


  rect-hover:hover{
    transform: scale(110%);
    fill:aqua ;
  }