/* Adaptação da seção principal para ficar mais arrumado seu subtitulo*/
section.principal {
    div {
      padding-top: 0.5vw;
      padding-bottom: 0.5vw;
        h2 {
            margin-left: 50vw;
        }
    }
}