body,
html {
    margin: 0 4vw 0 0;
    padding: 0;
    display: flex;
    overflow: hidden;
    place-items: center;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chat-container {
    width: 50%;
    margin: 2vw auto;
    padding: 2vw;
    border-radius: 10px;
    box-shadow: 0 0.5vw 1vw var(--azulQuatro);
   
}

.messages {
    justify-content: end;
    max-width: 70vw;
    height: 30vw;
    overflow-y: auto;
    margin-bottom: 20px;
    border: 2px solid rgba(0, 0, 0, 0.2);
    padding: 0.9vw;
    border-radius: 10px;
    background-color: var(--backgroundAlerta);

}

.input-container {
    display: flex;
    gap: 1vw;
}

.input-container input {
    margin-right: 3vw;
    flex: 1;
    padding: 0.9vw;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding-right: 3vw;
}

.input-container button {
    padding: 1vw 2vw 1vw 2vw;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
    border: 2px solid rgba(0, 0, 0, 0.2);
}

.enviar {
    background-color: var(--spanH1);
    color: var(--textoBotaoForm);
    transition: 0.5s;
    pointer-events: all;
}

.semEnviar {
    pointer-events: none;
}

b{
    font-weight: bold;
}

.mensagemIa {
    max-width: 100%;
    padding: 0.7vw;
    background-color: var(--backgroundAlerta);
    color: var(--azulQuatro);
    word-wrap: break-word;
    hyphens: auto;
}

.mensagemUser { 
    word-wrap: break-word;
    hyphens: auto;
    text-align: left;
    margin-left: 4vw;
    margin-bottom: 1vw;
    margin-top: 1vw;
    background-color: var(--backgroundAlerta);
    color: var(--azulDois);
}

.textoDireita{
    text-align: right;
}

aside {
    color: var(--linkHeaderChat);
    top: 0;
    left: 0;
}