body,
html {
    padding: 0;
    display: flex;
    overflow: hidden;
    place-items: center;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chat-container {
    width: 40%;
    padding: 2vw;
    border-radius: 10px;
    box-shadow: 0 0.5vw 1vw var(--azulQuatro);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.messages {
    justify-content: end;
    max-width: 70vw;
    height: 30vw;
    overflow-y: auto;
    margin-bottom: 20px;
    border: 2px solid rgba(0, 0, 0, 0.2);
    padding: 0.9vw;
    border-radius: 10px;
    background-color: var(--backgroundAlerta);
}

.input-container {
    display: flex;
    gap: 2vw;
    justify-content: center;
}

.input-container input {
    padding: 0.9vw;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding-right: 10%;
}

.input-container button {
    font-size: 1.2rem;
    padding: 1vw 2vw 1vw 2vw;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
    border: 2px solid rgba(0, 0, 0, 0.2);
}

.enviar {
    background-color: var(--spanH1);
    color: var(--textoBotaoForm);
    transition: 0.5s;
    pointer-events: all;
}

.semEnviar {
    pointer-events: none;
}

b {
    font-weight: bold;
}

.mensagemIa {
    max-width: 100%;
    padding: 0.7vw;
    background-color: var(--backgroundAlerta);
    color: var(--azulQuatro);
    word-wrap: break-word;
    hyphens: auto;
}

.mensagemUser {
    word-wrap: break-word;
    hyphens: auto;
    text-align: left;
    margin-left: 4vw;
    margin-bottom: 1vw;
    margin-top: 1vw;
    background-color: var(--backgroundAlerta);
    color: var(--azulDois);
}

.textoDireita {
    text-align: right;
}

.barranav aside#details{
    top: 0;
    left: 0;
    background-color: var(--linkHeader);
}

.barranav aside#details summary{
    color: var(--linkHeaderChat);
}
.barranav aside#details ul li a{
    color: var(--linkHeaderChat);
}

@media (max-width:700px) {
    .chat-container {
        width: 90%;
        height: 78%;
        padding-top: 5vw;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -45%);
    }

    .messages {
        justify-self: center;
        width: 100%;
        height: 85%;
        padding-left: 6vw;
        padding-right: 6vw;
        margin-bottom: 4vw;
    }

    .input-container {
        justify-self: center;
        justify-content: center;
        padding-bottom: 3vw;
    }

    .input-container input {
        padding-top: 2vw;
        padding-right: 0;
        padding-bottom: 2vw;
        width: 64%;
    }

    .input-container input::placeholder{
        font-size: 14px;
    }

    .input-container button {
        font-size: 1.2rem;
        padding: 3vw;
        
    }

    .messages .mensagemUser {
        margin-top: 3vw;
        margin-bottom: 3vw;
    }

    #summary {
        font-size: 24px;
      transform: translate(-1vw, -1vw);
    }
}