:root {
    --header: rgba(255, 255, 255, 1);
    --linkHeader: rgba(0, 0, 0, 1);
    --linkContornoHoverHeader: rgba(0, 0, 0, 1);
    --headerChat:rgba(0, 0, 0, 1);
    --linkHeaderChat:rgba(255, 255, 255, 1);
    --linkContornoHoverHeaderChat:rgba(255, 255, 255, 1);
    --backgroundAlerta:rgba(255, 255, 255, 1);
    --corBotaoVerde:rgb(11, 127, 7);
    --corBotaoVermelho:rgb(204, 0, 0);
    --h1:rgba(255, 255, 255, 1);
    --h2:rgba(255, 255, 255, 1);
    --spanH1:rgb(15, 35, 96);
    --footer:rgb(126, 151, 219);
    --textoFooter:rgba(255, 255, 255, 1);
    --botaoForm: rgb(65, 90, 172);
    --textoBotaoForm:rgba(255, 255, 255, 1);
    --textoPadrao:rgba(0, 0, 0, 1);
    --textoBranco:rgba(255, 255, 255, 1);
    --backgroundPrincipal:#90A5DF;
    --destaques:rgb(219, 39, 243);
    --ernestro:rgb(255, 217, 0);
    --textoNav: rgb(15, 35, 96);
    --destaqueNav: rgb(144, 165, 223);
    --azulUm: rgb(144, 165, 223);
    --azulDois: rgb(65, 90, 172);
    --azulTres: rgb(15, 35, 96);
    --azulQuatro: rgb(0, 14, 57); 
}