/* Adaptação da seção principal para ficar mais arrumado seu subtitulo*/
section.principal {
    div {
        h2 {
            margin-left: 35vw;
        }
    }
}

section.s1 {
    padding: 7vw 7vw 3vw 7vw;

    div {
        h2 {
            color: var(--azul-claro);
            font-size: 3rem;
            padding-bottom: 2vw;
            text-align: left;
        }

        p {
            color: var(--azul-escuro);
            font-size: 1.5vw;
        }

        button {
            background-color: var(--azul-claro);
            border: none;
            border-radius: 10px;
            color: white;
            padding: 1vw 2vw 1vw 2vw;
            font-size: 1.5vw;
        }
    }
}

section.s2 {
    .divP {
        h2 {
            text-align: left;
            padding-left: 7vw;
            padding-top: 2vw;
            font-size: 3rem;
            color: var(--azul-claro);
        }
    }

    .divS {
        ul {
            padding: 3vw 7vw 5vw 7vw;
            align-items: center;
            display: flex;

            li {
                width: 50%;
                background-color: var(--azul-clarinho);
                padding: 2.5vw;
                border-radius: 20px;

                p {
                    padding-bottom: 2vw;
                    color: var(--azul-claro);
                }

                a {
                    color: var(--branco);
                    text-decoration: none;
                }
            }

            li:last-child {
                margin-left: 1.5vw;

                iframe {
                    display: none;
                }
            }

            li:first-child {
                margin-right: 1.5vw;
            }
        }
    }
}

section.s3 {
    margin-bottom: 7vw;

    .divP {
        h2 {
            text-align: center;
            padding-top: 4vw;
            padding-bottom: 4vw;
            font-size: 3rem;
            color: var(--azul-escuro);
        }
    }

    .divS {
        padding-left: 7vw;
        padding-right: 7vw;

        .ulP {
            color: white;

            ul {
                display: flex;
                justify-content: center;

                li ul {
                    display: none;
                }

                li {
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    div {
                        i {
                            font-size: 1.7rem;
                            padding-bottom: 1vw;
                        }
                    }
                }
            }

            ul:last-child li {
                width: 28%;
                padding-top: 5vw;
                padding-bottom: 4vw;
            }

            ul li:first-child {
                margin-left: 0;
            }

            ul li:last-child {
                margin-right: 0;
            }

            ul:last-child li:last-child {
                padding-top: 6vw;

                h4 {
                    padding-top: 0.5vw;
                    padding-bottom: 1.5vw;
                }
            }

            ul:first-child li {
                padding-top: 4vw;
            }

            ul {
                li {
                    background-color: var(--azul-escuro);
                    margin-right: 1vw;
                    margin-left: 1vw;
                    margin-bottom: 2vw;

                    width: 90%;
                    border-radius: 25px;
                    padding: 2.5vw 1.5vw 4vw 2vw;

                    h4 {
                        font-size: 1.2rem;
                        text-align: center;
                        font-weight: bold;
                        padding-bottom: 1vw;
                    }
                }
            }
        }
    }
}

section.s4 {
    background-color: var(--azul-escuro);

    .divP {
        h2 {
            text-align: end;
            padding: 5vw 7vw 3vw 0;
            font-size: 3rem;
            color: white;
        }
    }

    .divS {
        padding-left: 7vw;
        padding-right: 7vw;

        div {
            ul {
                display: flex;
                justify-content: space-between;
                width: 100%;

                li {
                    background-color: var(--branco);
                    width: 90%;
                    border-radius: 30px;
                    padding: 1vw 2vw 1vw 2vw;
                    margin: 1vw;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    color: var(--azul-escuro);

                    div {
                        justify-content: center;
                        padding-bottom: 1vw;

                        span {
                            font-size: 1.5rem;
                        }
                    }

                    p {
                        text-align: left;
                        padding-top: 1vw;
                        padding-bottom: 2vw;
                    }

                    h4 {
                        font-size: 1.1rem;
                        font-weight: bold;
                        text-align: center;
                    }
                }

                li:last-child {
                    padding-top: 2vw;
                    padding-bottom: 0.5vw;
                    margin-right: 0;
                }

                li.li1 {
                    padding-top: 6vw;
                }

                li.li2 {
                    padding-top: 5vw;
                }
            }
        }
    }
}

section.s5 {
    display: none;
}