/* Adaptação da seção principal para ficar mais arrumado seu subtitulo */
html,

body {

    overflow-y: auto;
}

li {
    font-size: 1.3rem;
}

section.principal div {
    padding-bottom: 1vw;
    padding-top: 1vw;
}

section.principal div h2 {
    margin-left: 41vw;
}

section li {
    transition: 0.5s;
}

section.s1 {
    padding: 7vw 7vw 3vw 7vw;
}

section.s1 div h2 {
    color: var(--azulUm);
    padding-bottom: 2vw;
}

section.s1 div p {
    color: var(--azulTres);
}

section.s2 .divP h2 {
    text-align: left;
    padding-left: 7vw;
    padding-top: 2vw;
    color: var(--azulQuatro);
}

section.s2 .divS ul {
    padding: 3vw 7vw 5vw 7vw;
    align-items: center;
    display: flex;
}

section.s2 .divS ul li {
    width: 50%;
    background-color: var(--azulQuatro);
    padding: 2.5vw;
    border-radius: 20px;
}

section.s2 .divS ul li p {
    padding-bottom: 2vw;
    color: var(--textoBotaoForm);
}

section.s2 .divS ul li a {
    color: var(--azulUm);
    text-decoration: none;
}

section.s2 .divS ul li:last-child {
    margin-left: 1.5vw;
}

section.s2 .divS ul li:first-child {
    margin-right: 1.5vw;
}

section.s3 {
    margin-bottom: 7vw;
}

section.s3 .divP h2 {
    text-align: center;
    padding-top: 4vw;
    padding-bottom: 4vw;
    color: var(--azulUm);
}

section.s3 .divS {
    padding-left: 7vw;
    padding-right: 7vw;
}

section.s3 .divS .ulP ul {
    display: flex;
    justify-content: center;
}

section.s3 .divS .ulP ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section.s3 .divS .ulP ul li span {
    color: var(--textoBotaoForm);
    padding-bottom: 1vw;
}

section.s3 .divS .ulP ul:last-child li {
    width: 28%;
    padding-top: 5vw;
    padding-bottom: 4vw;
}

section.s3 .divS .ulP ul li:first-child {
    margin-left: 0;
}

section.s3 .divS .ulP ul li:last-child {
    margin-right: 0;
}

section.s3 .divS .ulP ul:last-child li:last-child {
    padding-top: 6vw;
}

section.s3 .divS .ulP ul:last-child li:last-child h4 {
    padding-top: 0.5vw;
    padding-bottom: 1.5vw;
}

section.s3 .divS .ulP ul:first-child li {
    padding-top: 4vw;
}

section.s3 .divS .ulP ul li {
    background-color: var(--botaoForm);
    margin-right: 1vw;
    margin-left: 1vw;
    margin-bottom: 2vw;
    width: 90%;
    border-radius: 25px;
    padding: 2.5vw 2vw 4vw 2vw;
}

section.s3 .divS .ulP ul li h4 {
    color: var(--textoBotaoForm);
    text-align: center;
    font-weight: bold;
    padding-bottom: 1vw;
}

section.s3 .divS .ulP ul li p {
    color: var(--textoBotaoForm);
}

section.s4 {
    padding-bottom: 4vw;
    background-color: var(--azulQuatro);
}

section.s4 .divP h2 {
    text-align: end;
    padding: 5vw 7vw 3vw 0;
    color: var(--textoBotaoForm);
}

section.s4 .divS {
    padding-left: 7vw;
    padding-right: 7vw;
}

section.s4 .divS div ul {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

section.s4 .divS div ul li {
    background-color: var(--backgroundAlerta);
    width: 90%;
    border-radius: 30px;
    padding: 1vw 2vw 1vw 2vw;
    margin: 1vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--azulUm);
}

section.s4 .divS div ul li span {
    justify-content: center;
    padding-bottom: 1vw;
}

section.s4 .divS div ul li p {
    text-align: left;
    padding-top: 1vw;
    padding-bottom: 2vw;
}

section.s4 .divS div ul li h4 {
    font-weight: bold;
    text-align: center;
}

section.s4 .divS div ul li:last-child {
    padding-top: 2vw;
    padding-bottom: 0.5vw;
    margin-right: 0;
}

section.s4 .divS div ul li.li1 {
    padding-top: 6vw;
}

section.s4 .divS div ul li.li2 {
    padding-top: 5vw;
}

section.s5 {
    display: none;
}

div.s6 {
    padding: 7vw;
}

div.s6 div h4 {
    color: var(--textoBranco);
    background-color: var(--azulTres);
    padding: 2vw;
    border-radius: 2vw;
    font-weight: bold;
}

div.s6 div p {
    color: var(--textoPadrao);
    padding: 1.5vw;
}

div.s6 div ul li {
    padding: 2vw;
    padding-top: 1vw;
}

div.s6 div h2 {
    color: var(--azulTres);
    text-align: center;
    padding: 2vw;
}

div.s6 p.lesao {
    font-weight: bold;
    padding: 1.5vw;
    padding-top: 3vw;
}

@media (max-width:1024px) {
    section.principal div h2 {
        margin: 0;
    }

    section.s1 div {
        text-align: center;
    }

    section.s2 div.divP h2 {
        margin-top: 10vw;
        margin-bottom: 4vw;
        padding: 0;
        margin-left: 5vw;
    }

    section.s2 div.divS ul {
        flex-direction: column;
        gap: 5vw;
        padding: 0;
        width: 100%;
        margin: 0;
    }

    section.s2 div.divS ul li.lihover {
        margin: 0;
        padding: 7vw;
        width: 73%;
    }

    section.s3 {
        margin-bottom: 15vw;
    }

    section.s3 div.divP h2 {
        margin-bottom: 4vw;
        margin-top: 10vw;
        padding: 0;
    }

    section.s3 div.divS {
        padding: 0;
    }


    section.s3 div.divS div.ulP ul {
        flex-direction: column;
        gap: 5vw;
    }

    section.s3 div.divS div.ulP ul:last-child {
        margin-top: 5vw;
    }

    section.s3 div.divS div.ulP ul:last-child li.lihover:nth-child(n+1) {
        margin: 0;
        padding: 3vw;
        width: 80%;

        padding: 3vw;
        padding-top: 10vw;
        padding-bottom: 10vw;
        align-self: center;
    }

    section.s3 div.divS div.ulP ul li.lihover:nth-child(n+1) {
        margin: 0;
        padding: 3vw;
        width: 80%;
        padding: 3vw;
        padding-top: 10vw;
        padding-bottom: 10vw;
        align-self: center;
    }


    section.s3 div.divS div.ulP ul li.lihover p {
        padding: 0;
        width: 90%;
    }

    section.s3 div.divS div.ulP ul:last-child li.lihover p {
        padding: 0;
        width: 90%;
    }

    section.s3 div.divS div.ulP ul li.lihover h4 {
        margin-bottom: 3vw;
        margin-left: 4vw;
        margin-right: 4vw;
    }

    section.s4 div.divP h2 {
        margin-bottom: 2vw;
        padding-top: 8vw;
    }

    section.s4 .divS {
        padding: 0;
    }

    section.s4 .divS div ul {
        flex-direction: column;
        align-items: center;
        gap: 5vw;
    }

    section.s4 .divS div ul li {
        width: 70%;
        padding: 7vw;
    }

    section.s6 div {
        margin-top: 5vw;
    }

    section.s6 div h4 {
        font-size: 20px;
    }

    section.s6 div ul li{
        font-size: 20px;
    }
}

@media (max-width:600px) {
    section.principal div h2 {
        margin: 0;
    }

    section.s1 div {
        text-align: center;
    }

    section.s2 div.divP h2 {
        margin-top: 10vw;
        margin-bottom: 4vw;
        padding: 0;
        margin-left: 5vw;
    }

    section.s2 div.divS ul {
        flex-direction: column;
        gap: 5vw;
        padding: 0;
        width: 100%;
        margin: 0;
    }

    section.s2 div.divS ul li.lihover {
        margin: 0;
        padding: 7vw;
        width: 73%;
    }

    section.s3 {
        margin-bottom: 15vw;
    }

    section.s3 div.divP h2 {
        margin-bottom: 4vw;
        margin-top: 10vw;
        padding: 0;
    }

    section.s3 div.divS {
        padding: 0;
    }


    section.s3 div.divS div.ulP ul {
        flex-direction: column;
        gap: 5vw;
    }

    section.s3 div.divS div.ulP ul:last-child {
        margin-top: 5vw;
    }

    section.s3 div.divS div.ulP ul:last-child li.lihover:nth-child(n+1) {
        margin: 0;
        padding: 3vw;
        width: 80%;

        padding: 3vw;
        padding-top: 10vw;
        padding-bottom: 10vw;
        align-self: center;
    }

    section.s3 div.divS div.ulP ul li.lihover:nth-child(n+1) {
        margin: 0;
        padding: 3vw;
        width: 80%;
        padding: 3vw;
        padding-top: 10vw;
        padding-bottom: 10vw;
        align-self: center;
    }


    section.s3 div.divS div.ulP ul li.lihover p {
        padding: 0;
        width: 90%;
    }

    section.s3 div.divS div.ulP ul:last-child li.lihover p {
        padding: 0;
        width: 90%;
    }

    section.s3 div.divS div.ulP ul li.lihover h4 {
        margin-bottom: 3vw;
        margin-left: 4vw;
        margin-right: 4vw;
    }

    section.s4 div.divP h2 {
        margin-bottom: 2vw;
        padding-top: 8vw;
    }

    section.s4 .divS {
        padding: 0;
    }

    section.s4 .divS div ul {
        flex-direction: column;
        align-items: center;
        gap: 5vw;
    }

    section.s4 .divS div ul li {
        width: 70%;
        padding: 7vw;
    }

    section.s6 div {
        margin-top: 5vw;
    }

    section.s6 div h4 {
        font-size: 20px;
    }
}