:root {
    --azul: rgba(15, 35, 96, 1);
    --branco: rgba(240, 240, 240, 1);
    --azul-clarinho: rgba(144, 165, 223, 1);
    --azul-escuro: rgba(0, 14, 57, 1);
    --azul-claro:  rgba(65, 90, 172, 1);
    --preto: rgba(0, 0, 0, 1);
}