:root {
    --azul: rgb(255, 3, 3);
    --branco: rgb(255, 0, 0);
    --azul-clarinho: rgb(241, 0, 0);
    --azul-escuro: rgb(75, 57, 58);
    --azul-claro:  rgb(255, 0, 255);
    --preto: rgb(255, 0, 0);
 }