section.s1 {
    padding: 5vw 8vw 5vw 8vw;

    div {

        h2 {
            color: var(--azul-claro);
            font-size: 3rem;
        }

        p {
            color: var(--azul-escuro);
            font-size: 1.5vw;
            margin: 3vw 0 3vw 0;
        }

        button {
            background-color: var(--azul-claro);
            border: none;
            border-radius: 10px;
            color: var(--branco);
            padding: 1vw 2vw 1vw 2vw;
            font-size: 1.5vw;
        }
    }
}

section.s2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3vw 0 8vw 0;

    div {
        background-color: var(--azul-claro);
        padding: 10vw;
        width: 60vw;
        height: 16vw;
        padding: 10vw 5vw 10vw 5vw;
        border-radius: 15px;
        box-shadow: 10px 2px 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: 0.5s ease-in-out;
        color: var(--branco);

        h1 {
            font-size: 2rem;
        }

        h2 {
            text-align: center;
        }

        p {
            margin: 4vw 0 4vw 0;
        }

        img {
            height: 12vw;
            width: 18vw;
            filter: saturate(1.5);
            transition: transform 0.5s;
        }

        img:hover {
            transform: scale(110%);
            transition: transform 0.5s;
            filter: saturate(1);
        }

        ul {
            display: flex;

            li {
                margin: 0 1vw 0 1vw;
            }
        }
    }

    div:hover {
        transform: scale(103%);
        transition: 0.2s ease-in-out;
    }
}