section.s1 {
    padding: 5vw 8vw 5vw 8vw;
}

section.s1 div h2 {
    color: #415AAC;
    font-size: 3rem;
}

section.s1 div p {
    color: var(--textoPadrao);
    font-size: 1.5vw;
    margin: 2vw 0 3vw 0;
    
}

section.s1 div button {
    background-color: var(--botaoForm);
    border: none;
    border-radius: 1vw;
    color: var(--textoBotaoForm);
    padding: 1vw 2vw 1vw 2vw;
    font-size: 1.5vw;
    transition: 0.3s;
}

section.s1 div button:hover {
    transform: scale(110%);
    transition: 0.3s ease-in-out;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 1);
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 1);
}

section.s2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3vw 0 8vw 0;
}

section.s2 div {
    background-color: var(--botaoForm);
    padding: 10vw;
    width: 60vw;
    height: 16vw;
    padding: 10vw 5vw 10vw 5vw;
    border-radius: 2vw;
    box-shadow: 10px 2px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.5s ease-in-out;
    color: var(--textoBotaoForm);
}

section.s2 div h1 {
    font-size: 2rem;
}

section.s2 div h2 {
    text-align: center;
}

section.s2 div p {
    margin: 4vw 0 4vw 0;
}

section.s2 div img {
    height: 12vw;
    width: 18vw;
    filter: saturate(1.5);
    transition: transform 0.5s ease-in-out;
    border-radius: 2vw;
}

section.s2 div img:hover {
    transform: scale(110%);
    transition: 0.5s ease-in-out;
    filter: saturate(1);
    -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.75);
}

section.s2 div ul {
    display: flex;
}

section.s2 div ul li {
    margin: 0 1vw 0 1vw;
}

section.s2 div:hover {
    transform: scale(103%);
    transition: 0.2s ease-in-out;
    -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.75);
}
