body,
html {
    overflow: hidden;
    place-items: center;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
 
}

main {
    justify-content: center;
    display: flex;
    place-items: center;
    flex-direction: column;
}

.alertaOk {
    user-select: none;
    background-color: white;
    justify-items: center;    
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    z-index: 5;
    position: fixed;
    top: 40%;
    left: 40%;
    pointer-events: all;
    padding: 1.3vw;
    border-radius: 1vw;
    -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 1);
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 1);
    font-size: 1.3vw;
    filter: none;
}

.alertaOk p {
    color: var(--textoPadrao);
    font-weight: bold;
    margin-bottom: -2vw;
    
}


.divAlerta {
    user-select: none;
    background-color: var(--backgroundAlerta);
    position: fixed;
    top: 40%;
    left: 30.5%;
    pointer-events: all;
    padding: 1.3vw;
    border-radius: 1vw;
    -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 1);
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 1);
    font-size: 1.3vw;
    filter: none;
    z-index: 3;
}

.divAlerta p {
    color: var(--textoPadrao);
    font-weight: bold;
}
.divAlerta  button{
    margin: 2vw 0 0 8vw;
}
.divAlerta button:last-child{
    margin: 0vw 0vw 0vw 2vw;
}


section {
    user-select: none;
    -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 1);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 1);
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 1);
    background-color: rgb(243, 242, 242);
    text-align: baseline;
    border-radius: 1vw;
    width: 25vw;
    height: 35vw;
    padding: 2vw;
    z-index: 1;
    transition: 0.3s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

 h1 {
    text-align: center;
    font-size: 2.5rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-bottom: 2vw;
}

section div h2 {
    font-weight: bold;
    text-align: center;
    font-size: 1.3vw;
    margin-top: 1vw;
    margin-bottom: 1vw;
}

section ul {
    margin-top: 2vw;
    display: flex;
    align-items: center;
    flex-direction: column;
}

section ul li {
    display: flex;
    align-items: center;
}

section ul li input {
    background-color: rgb(224, 224, 224);
    margin-left: 0.5vw;
    color: var(--backgroundPrincipal);
    padding: 0.2vw 0.2vw 0.2vw 0.2vw;
    border-radius: 0.3vw;
    cursor: pointer;
    transition: .3s;
    outline: none;
    margin-bottom: 1vw;
    
}section ul li input:hover{
    background-color: rgb(204, 203, 203);
   
   
}
section ul li input:focus{
    background-color: rgb(243, 242, 242);;
  
   outline:  1px solid black;
    
    transition: .15s;
   
}



section ul.data{
    display: flex;
    align-self: center;
}
section ul li .inputData {

    width:1.5vw;
    margin: -1vw 0vw 0 1vw;

}
.inputData:hover{
    width: 10vw;
    transition: .5s;
}
.inputData:focus{
    background-color: rgb(243, 242, 242);;
  
   outline:  1px solid black;
    
    transition: .15s;
   
}

.form-container{
    display: none;
}

section ul li .labelData {
    margin: -1vw 0vw 0vw 0;
    display: flex;
}

section ul li .labelSexo {
    margin: 1vw 0 0 0;
    width: 100%;
}
select {
    margin: 1.5vw 0 0 0.5vw;
}
button {
    background-color: transparent;
    border: black 1px solid;
    border-radius: 10px;
    padding: 1vw 2vw;
    position: relative;
    overflow: hidden; 
    margin-top: 3vw;
    transition: .3s;

}
.barra{
    background-color: bisque;
    margin-top: 1vw;
    width: 20vw;
    height: 2px;
    background-color: black;
}
button::after {
    content: "";
    position: absolute;
    background-color: black;
    left: 0;
    top: 0; 

    width: 0vw;
    height: 6vw;
    transition: 0.3s ease-in-out; 

}
button:hover::after{
    width: 14vw;
    transition: .3s ease-in-out;
    z-index: -1;

}
button:hover{
    color: white;
    z-index: 1;
    transition: .3s;
}

section fieldset {
    display: flex;
    align-items: center;
    margin-top: 2vw;
    padding-left: 0;
}
.firstField div{
    display: flex;
    flex-direction: column;
}
section fieldset input:first-child {
    margin-left: 0;
}

section fieldset legend {
    font-size: 1.5vw;
    color:black ;
    font-weight: weight;
    margin-bottom: 1vw;
}

section fieldset input[type="radio"] {
    appearance: none; 
    width: 1.2vw;
    height: 1.2vw;
    border: 2px solid black;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    transition: 0.3s ease-in-out;
}

section fieldset input[type="radio"]::before {
    content: "";
    width: 0.6vw;
    height: 0.6vw;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.3s ease-in-out;
}

section fieldset input[type="radio"]:hover {
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
    transform: scale(1.1);
    transition: .3 ease-in-out;
}

section fieldset input[type="radio"]:checked::before {
    transform: translate(-50%, -50%) scale(1);
}
@keyframes fadeIn {
    from {
      opacity: 0;
      transform: scale(0.8);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }
  .active {
    display: flex;
    animation: fadeIn 0.5s ease;
  }
  .hide {
    animation: fadeOut 0.5s ease forwards;
  }

  @keyframes fadeOut {
    from {
      opacity: 1;
      transform: scale(1);
    }
    to {
      opacity: 0;
      transform: scale(0.8);
    }
  }



.divFundo{
    background-color: rgb(233, 234, 235);
    padding: 1.5vw 5vw 1.5vw 1.5vw;
    border-radius: 15px;
    border: 1px solid black;
}
.divFundo label{
    margin-top: 0.3vw;
}
.esp div label{
    margin: 1vw 0.1vw 0 0.1vw;
}

.semCliques{ 
        backdrop-filter: blur(5px); 
        z-index: 2; 
        height: 100vh;
        width: 100vw;
        position: fixed;
        top: 0;
        left: 0;
        pointer-events: none; 
}