body,
html {
    overflow: hidden;
    place-items: center;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--azulUm);
}

main {
    justify-content: center;
    display: flex;
    place-items: center;
}

.alertaOk {
    user-select: none;
    background-color: var(--backgroundAlerta);
    position: fixed;
    top: 40%;
    left: 40%;
    pointer-events: all;
    padding: 1.3vw;
    border-radius: 1vw;
    -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 1);
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 1);
    font-size: 1.3vw;
    filter: none;
    z-index: 2;
}

.alertaOk p {
    color: var(--textoPadrao);
    font-weight: bold;
}

.alertaOk .botaoOk {
    background-color: var(--corBotaoVerde);
    border-radius: 0.5vw;
    text-decoration: none;
    transition: 0.3s ease-out;
    margin-top: 1vw;
    padding: 1vw 2vw 1vw 2vw;
    border-radius: 0.5vw;
    border: 2px solid rgba(0, 0, 0, 1);
    margin-left: 5vw;
    color: var(--textoBotaoForm);
}

.alertaOk .botaoOk:hover {
    transform: scale(115%);
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 1);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 1);
}

.divAlerta {
    user-select: none;
    background-color: var(--backgroundAlerta);
    position: fixed;
    top: 40%;
    left: 30.5%;
    pointer-events: all;
    padding: 1.3vw;
    border-radius: 1vw;
    -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 1);
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 1);
    font-size: 1.3vw;
    filter: none;
    z-index: 2;
}

.divAlerta p {
    color: var(--textoPadrao);
    font-weight: bold;
}

.divAlerta span {
    color: var(--corBotaoVermelho);
}

.divAlerta .voltar {
    padding: 1vw 3vw 1vw 3vw;
    text-decoration: none;
    color: var(--textoBotaoForm);
    transition: 0.3s;
    margin-top: 1vw;
    padding: 1vw 2vw 1vw 2vw;
    border-radius: 0.5vw;
    background-color: var(--corBotaoVerde);
    border: 2px solid rgba(0, 0, 0, 1);
    margin-left: 9vw;
}

.divAlerta .voltar:hover {
    transform: scale(115%);
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 1);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 1);
}

.divAlerta .sair {
    transition: 0.3s ease-in-out;
    margin-left: 2vw;
    cursor: default;
    padding: 1vw 2.5vw 1vw 2.5vw;
    background-color: var(--corBotaoVermelho);
    border-radius: 0.5vw;
    transition: 0.3s ease-in-out;
    border: 2px solid rgba(0, 0, 0, 1);
    text-decoration: none;
}

.divAlerta .sair:hover {
    transform: scale(115%);
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 1);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 1);
}

section {
    user-select: none;
    -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 1);
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 1);
    background-color: var(--azulQuatro);
    text-align: baseline;
    border-radius: 1vw;
    width: 75%;
    padding: 2vw;
    z-index: 1;
    transition: 0.3s ease-in-out;
}

section div h1 {
    text-align: center;
    font-size: 2.5rem;
    color: var(--azulUm);
    font-weight: bold;
}

section div h2 {
    font-weight: bold;
    text-align: center;
    font-size: 2vw;
    margin-top: 2vw;
    margin-bottom: 1vw;
    color: var(--textoBotaoForm);
}

section ul {
    margin-top: 2vw;
    display: flex;
    align-items: center;
}

section ul li {
    display: flex;
    align-items: center;
}

section ul li input {
    background-color: var(--textoBotaoForm);
    width: 30%;
    border: 2px solid var(--azulDois);
    margin-left: 0.5vw;
    color: var(--textoPadrao);
    padding: 0.2vw 0.2vw 0.2vw 0.2vw;
    border-radius: 0.3vw;
    cursor: pointer;
}

section ul li .inputSegundoNome {
    width: 45%;
}

section ul li .inputNome {
    width: 55%;
}

section ul li label:first-child {
    margin-left: 0;
}

section ul li label {
    margin-left: 1vw;
    color: var(--azulUm);
    font-weight: bold;
}

section ul li .inputData {
    margin-right: 1vw;
    margin-left: 0;
    width: 40%;
}

section ul li .labelData {
    width: 55%;
}

section ul li .labelSexo {
    margin-left: 1vw;
    width: 100%;
}

section fieldset {
    display: flex;
    align-items: center;
    margin-top: 2vw;
    padding-left: 0;
}

section fieldset input:first-child {
    margin-left: 0;
}

section fieldset legend {
    font-size: 1.5vw;
    color: var(--azulUm);
    font-weight: bold;
    margin-bottom: 1vw;
}

section fieldset label {
    color: var(--textoBotaoForm);
}

section fieldset input {
    margin-left: 1vw;
    cursor: pointer;
}

section fieldset div div:first-child {
    margin-top: 0;
}

section fieldset div div {
    margin-top: 1vw;
}

section .botoes {
    margin-top: 2vw;
}

section .botoes .botaoCancelar {
    margin-left: 7vw;
    margin-right: 3vw;
    padding: 1vw 2vw 1vw 2vw;
    background-color: var(--corBotaoVermelho);
    border-radius: 0.5vw;
    transition: 0.3s ease-in-out;
    border: 2px solid black;
    color: var(--textoBotaoForm);
}

section .botoes .botaoEnviar {
    background-color: var(--corBotaoVerde);
    padding: 1vw 3vw 1vw 3vw;
    border-radius: 0.5vw;
    text-decoration: none;
    color: var(--textoBotaoForm);
    border: 2px solid black;
    transition: 0.3s ease-in-out;
}

section .botoes .botaoEnviar:hover {
    transform: scale(115%);
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 1);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 1);
}

section .botoes .botaoCancelar:hover {
    transform: scale(115%);
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 1);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 1);
}
