/* CSS Reset */
* {
   margin: 0;
   padding: 0;
   border: 0;
   font-size: 100%;
   font: inherit;
   vertical-align: baseline;
   list-style: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
   display: block;
}

body {
   line-height: 1;
}

ol,
ul {
   list-style: none;
}

blockquote,
q {
   quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
   content: '';
}

/* HTML */
html {
   font-family: Inter;
}

h1 {
   font-size: 4rem;
}

h2 {
   font-size: 2.7rem;
   line-height: 2.7rem;
}
p{
   font-size: 1.2rem;
   line-height: 1.4rem;
}
.expPerso{
   font-size: 1.2rem;
}
a{
   font-size: 1.2rem;
}
summary{
   font-size: 1.2rem;
}
button{
   place-content: center;
}
h4{
   font-size: 2rem;
   line-height: 2rem;
}




@media (max-width: 1200px) {
   h1{
      font-size: 3.5rem;
   }
   h2{
    font-size: 2rem;  
    line-height: 2rem;
   }
   p{
      font-size: 1rem;
      line-height: 1rem;
   }
   a{
      font-size: 1rem;
      line-height: 1rem;
   }
   button{
      font-size: 1rem;
      line-height: 1rem;
   }
   .expPerso{
      font-size: 1rem;
      line-height: 1rem;
   }
   summary{
      font-size: 1rem;
      line-height: 1rem;
   }
   label{
      font-size: 1rem;
      line-height: 1rem;
   }
   h4{
      font-size: 2rem;
      line-height: 2rem;
   }
   .s6  li{
      font-size: 1rem;
      line-height: 1rem;
   }
}

@media (max-width: 1200px) {
   h1{
      font-size: 3.3rem;
   }
   h2{
    font-size: 1.8rem;  
    line-height: 1.8rem;
   }
   p{
      font-size: 0.8rem;
      line-height: 0.8rem;
   }
   a{
      font-size: 0.8rem;
      line-height: 0.8rem;
   }
   button{
      font-size: 0.8rem;
      line-height: 0.8rem;
   }
   .expPerso{
      font-size: 0.8rem;
      line-height: 0.8rem;
   }
   summary{
      font-size: 0.8rem;
      line-height: 0.8rem;
   }
   label{
      font-size: 0.8rem;
      line-height: 0.8rem;
   }
   h4{
      font-size: 1.5rem;
      line-height: 1.5rem;
   }
   .s6  li{
      font-size: 0.8rem;
      line-height: 0.8rem;
   }
}

@media (max-width: 800px) {
   h1 {
     font-size: 2.5rem;
     line-height: 2.5em;
   }
   h2{
      font-size: 1.5rem;
      line-height: 1.5rem;
   }p{
      font-size: 0.8rem;
      line-height: 0.8rem;
   }
   a{
      font-size: 0.7rem;
      line-height: 0.7rem;
   }
   button{
      font-size: 0.7rem;
      line-height: 0.7rem;
   }
   .expPerso{
      font-size: 0.7rem;
      line-height: 0.7rem;
   }
   summary{
      font-size: 0.7rem;
      line-height: 0.7rem;
   }
   label{
      font-size: 0.7rem;
      line-height: 0.7rem;
   }
   h4{
      font-size: 1rem;
      line-height: 1rem;
   }
   .s6  li{
      font-size: 0.7rem;
      line-height: 0.7rem;
   }
 }

 @media (max-width: 700px) {
   h1{
      font-size: 1.5rem;
      line-height: 1.5rem;
   }
   h2{
      font-size: 1rem;
      line-height: 1rem;
   }
   p{
      font-size: 0.6rem;
      line-height: 0.6rem;
   }
   a{
      font-size: 0.6rem;
      line-height: 0.6rem;
   }
   button{
      font-size: 0.6rem;
      line-height: 0.6rem;
   }
   .expPerso{
      font-size: 0.6rem;
      line-height: 0.6rem;
   }
   summary{
      font-size: 0.6rem;
      line-height: 0.6rem;
   }
   label{
      font-size: 0.6rem;
      line-height: 0.6rem;
   }
   h4{
      font-size: 0.8rem;
      line-height: 0.8rem;
   }
   .s6  li{
      font-size: 0.6rem;
      line-height: 0.6rem;
   }
 }

 @media (max-width: 600px) {
   h1{
      font-size: 34px;
      line-height: 2rem;
   }
   h2{
      font-size: 15px;
      line-height: 1.5rem;
   }
   p,a,button,summary,.expPerso.label,.s6 li.bloco{
      font-size: 13px;
      line-height: 0.9rem;
   }
   h4{
      font-size: 0.5rem;
      line-height: 0.5rem;
   }
 }


/* Barra de Navegação */
.mensagemBoasVindas {
   color: var(--azulUm);
   pointer-events: none;
   cursor: default;
}

header {
   user-select: none;
}

.semCliques {
   filter: blur(10px);
   pointer-events: none;
}

.noScroll {
   overflow: hidden;
   margin-right: 1.2vw;
}

.confirmacao {
   background-color: var(--backgroundAlerta);
   position: fixed;
   top: 40vh;
   left: 40vw;
   pointer-events: all;
   padding: 1.5vw;
   color: var();
   border-radius: 1vw;
   -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 1);
   -moz-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 1);
   box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 1);
   z-index: 2;
}

.confirmacao .desistir {
   color: rgba(255, 255, 255, 1);
   padding: 1vw 1vw 1vw 1vw;
   margin-left: 2.9vw;
   margin-right: 1vw;
   margin-top: 1vw;
   background-color: var(--corBotaoVerde);
   border-radius: 0.4vw;
   text-decoration: none;
   border: 2px solid black;
   transition: 0.3s;
}

.confirmacao p {
   color: rgba(255, 0, 0, 1);
   font-weight: bold;
}

.confirmacao .desistir:hover {
   transform: scale(120%);
   -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 1);
   -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 1);
   box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 1);
}

.confirmacao .ir {
   color: rgba(255, 255, 255, 1);
   padding: 1vw 2.2vw 1vw 2.2vw;
   background-color: var(--corBotaoVermelho);
   border-radius: 0.4vw;
   text-decoration: none;
   border: 2px solid rgba(0, 0, 0, 1);
   transition: 0.3s;
}

.confirmacao .ir:hover {
   transform: scale(120%);
   -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 1);
   -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 1);
   box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 1);
}

header {
   user-select: none;
   background-color: var(--header);
   align-items: center;
}

header .barranav {
   gap: 3vw;
   justify-content: end;
   padding-top: 2vw;
   padding-bottom: 2vw;
   padding-right: 5vw;
   display: flex;
}

header .barranav div a {
   text-decoration: none;
   color: var(--textoNav);
   cursor: pointer;
}

header .barranav .expPerso {
   cursor: pointer;
   color: var(--textoNav);
}

header .barranav .scrolled {
   border-bottom: 2px solid rgba(0, 0, 0, 1);
   border-right: 2px solid rgba(0, 0, 0, 1);
}

header .barranav aside {
   background-color: var(--header);
   flex-direction: column;
   position: fixed;
   padding: 2vw;
   top: 0;
   left: 0;
   border-radius: 0 0 2vw 0;
}

header .barranav aside #summary {
   cursor: pointer;
}

header .barranav aside ul {
   list-style: none;
}

header .barranav aside ul li {
   padding-top: 1.5vw;
   padding-right: 1vw;
   opacity: 0;
}

header .barranav aside ul li a {
   cursor: pointer;
   text-decoration: none;
   color: var(--linkHeader);
}

header .barranav aside ul li a {
   cursor: pointer;
   text-decoration: none;
   color: var(--linkHeader);
}

.fechado {
   height: 1.5vw;
   width: 2vw;
   transition: height 0.3s ease-in-out, width 0.2s ease-in-out;
   transition-delay: 0s, 0.3s;
}

.aberto {
   height: 100vh;
   width: 9vw;
   z-index: 1000;
   transition: height 0.3s ease-in-out, width 0.2s ease-in-out;
   transition-delay: 0.2s, 0s;
}

.items {
   opacity: 0;
   transform: translateY(-3vw);
}

.items.show {
   opacity: 1;
   margin-top: 1vw;
   transform: translateY(0);
}

aside.aberto .items {
   opacity: 1;
   transition: opacity 1.5s ease-in-out, margin 1s ease-in-out;
}

aside.fechado .items {
   opacity: 0;
   pointer-events: none;
   transition: opacity 0.3s ease-in-out, margin-top 1s ease-in-out, transform 1s;
}

/* Seção de Início */
.principal {
   background-color: var(--backgroundPrincipal);
   display: flex;
   justify-content: end;
   padding: 17.7vw 0 17.7vw 0;
}

.principal div {
   margin: 0 5vw 0 0;
   text-align: end;
}

.principal div h1 {
   padding-top: 2vw;
   padding-bottom: 2vw;
   text-align: end;
   color: var(--h1);
}

.principal div h1 span {
   color: var(--spanH1);
}

.principal div h2 {
   color: var(--h2);
   margin: 1vw 0 1vw 0;
}

.principal div p {
   color: var(--h1);
}

/* Rodapé */
footer {
   background-color: var(--azulQuatro);
   display: flex;
   flex-direction: column;
   align-items: center;
   padding-top: 1vw;
   padding-bottom: 1vw;
}

footer .DivFooter1 {
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 60%;
}

footer .DivFooter1 img {
   width: 10%;
   margin-left: 0.5vw;
}

footer .DivFooter1 p {
   color: var(--textoFooter);
   margin-left: 5vw;
}

footer .DivFooter1 ul {
   display: flex;
}

footer .DivFooter1 ul li a {
   color: var(--textoFooter);
   margin-right: 2vw;
}