* {
   border: 0;
   margin: 0;
   padding: 0;
   list-style: none;
   font-size: calc(8px + 1vw);
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a {
   text-decoration: none;
   color: aliceblue;
}
a:hover{
  text-decoration: none;
  color: aliceblue;
  cursor: pointer;
}
h2 {
   overflow-x: hidden;
}

p {
   overflow-x: hidden;
}

button {
   overflow-x: hidden;
}

nav {
   display: flex;
   justify-content: space-between;
   padding: 10px;
   background-color: rgba(188, 107, 242, 0.3);
   height: 6%;
   width: 100%;
   position: fixed;
   z-index: 100;

}

.nav-left {
   display: flex;
   align-self: center;
   z-index: 2;
}

.nav-left ul {
   display: flex;
   flex-direction: row;
   margin-top: 40px;
   margin-right: 40px;
}

.nav-left ul li {
   display: flex;
   flex-direction: row;
   margin-right: 10px;
   z-index: 2;
   position: relative;
}
.nav-left ul li:hover{
  display: flex;
  flex-direction: row;
  margin-right: 10px;
  z-index: 2;
  position: relative;
  cursor: pointer;
}
.nav-left ul li::after {
   background-color: #5D3D73;
   position: absolute;
   width: 100%;
   left: 0;
   bottom: 20px;
   height: 1px;
   content: "";
   transition: 0.5s;
   opacity: 0.5;

}

.nav-left ul li:hover::after {
   background-color: #5D3D73;
   position: absolute;
   width: 100%;
   left: 0;
   bottom: 20px;
   height: 80%;
   content: "";
   transition: 0.5s;
   opacity: 0.5;

}

.nav-right ul {
   display: flex;
   margin-top: 20px;
   margin-right: 40px;
   z-index: 2;
}

.nav-right ul li {
   margin-right: 20px;

}

nav button {
   width: 120px;
   height: 60px;
   border-radius: 20px;
   border: white solid 1px;
   background-color: transparent;
   color: rgb(255, 255, 255);
   font-size: 20px;
   transition: 1s;
   z-index: 2;
}

nav button:hover {
   transition: 1s;
   color: black;
   border: rgb(255, 255, 255) solid 1px;
   background-color: white;
}

.logo {
   display: flex;
   margin-right: 60px;
   height: 100px;
   width: 120px;
}

img.fundo {
   width: 100%;
   height: 100%;
   display: block;
   position: relative;
   z-index: 1;

}

/*
  sec 1
 */
.secpag1conteudo {
   clip-path: polygon(0 25%, 100% 0, 100% 100%, 0% 100%);
   padding-top: 15vw;
   padding-bottom: 8vw;
   display: flex;
   justify-content: space-between;
   background-color: #5D3D73;
   position: relative;
   z-index: 2;
   bottom: 20vw;
   overflow: hidden;
}

.secpag1conteudo img {
   z-index: 1;
   position: relative;
   height: 25vw;
   width: 14vw;
   padding-left: 3vw;


}

.secpag1conteudo {
   text-align: center;
}

.secpag1conteudo h1.titulo {
   font-size: 5vw;
   padding-bottom: 1vw;
   color: white;
   background-image: linear-gradient(to bottom, #F27C38, white);
   background-clip: text;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}
.secpag1conteudo h2 {
   font-size: 2vw;
   color: white;
   background-image: linear-gradient(to bottom, white, white);
   background-clip: text;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}

.secpag1conteudo p {
   font-size: 1.7vw;
   margin: 4vw 0vw 4vw 3vw;
   color: white;
}
.cont2 p{
   padding: 0 6vw 0 6vw;
  }

.conteudo {
   background-color: #5D3D73;
   display: flex;
   flex-direction: column;
   margin: -20vw 0 0 0;

}
.meio{
  display: flex;
  align-items: center;
  background-color: #f8cc9a;
  position: relative;
  margin: 0 0 3vw 0;
  padding: 5vw 0 5vw 0;
  z-index: 40;
  top: -20vw;
  overflow: hidden;
}
.meio img{
  width: 40vw;
  height: 20vw;
  border-radius: 30px ;
  margin: 0 2vw 0 0;
}
ul.meioul{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align:start;
  margin: 0 2vw 0 2vw;
}
ul.meioul h2{
  font-size: 1.5rem;
  color: #000000;

}
ul.meioul p{
  margin-top: 1vw;
  color: #000000;
}
a#LinkLegal{
   color: #5D3D73;
   text-decoration: underline;
}
span.ingles{
   font-style: italic;
}

.pos{
  display: flex;
  background-color: #5D3D73;
  flex-direction: column;
  position: relative;
  margin-top: -24vw;
}
.pos h2{
  text-align: center;
  padding: 4vw 0 0 0;
  font-size: 2.3rem;
  color: #e4dfe4;
  
}
.pos ul{
  display: flex;
  justify-content: space-evenly;
}
.pos img{
  text-align: center;
  width: 40vw;
  height: 20vw;
  border-radius: 30px;
  margin:4vw 0 4vw 0;
  

}

.pos div{
  display: flex;
  justify-content: center;

}
.pos ul li{
  background-color: #f8cc9a;
  border-radius: 15px;
  text-align: center;
  margin: 2vw 2vw 2vw 2vw;
  padding: 3vw 2vw 3vw 2vw;
  min-height: 28vw;
  width: 28vw;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pos svg {
  width: 3vw;
   
}
.pos ul li p{

  border-radius: 15px;
  text-align: center;
   font-size: 1.1rem;
   color: #000000;
  
}
.pos ul li ul{
   align-items: center;
   justify-content: center;
   text-align: center;
 }
.final{
   background-color: #5D3D73;
   padding: 4vw 0 4vw 0;
}

.final .titulo{
   color: white;
   font-size: 2.3rem;
   text-align: center;
}

.final p {
 color: white;
 padding: 3vw;
}

footer {
   background-color: #272727;
   position: relative;
}

footer ul {
   display: flex;
   justify-content: space-around;
   align-items: center;
}

footer li img {
   width: 3vw;
   height: 3vw;
}

footer li img.logo {
   width: 8vw;
   height: 8vw;
}

footer p {
   color: white;
}



[data-anime="right"] {
   opacity: 0;
   transform: translateX(4vw);
   transition: 1s;
}

[data-anime="right"].animation {
   transition: 1s;
   opacity: 1;
   transform: translateX(0px);
}
[data-anime="down"] {
   opacity: 0;
   transform: translateY(3.3vw);
   transition: 1.s, transform 1.5s;
}

[data-anime="down"].animation2 {
   opacity: 1;
   transform: translateY(0);
   transition: 1s;
}

[data-anime="left"]{
   opacity: 0;
   transform: translateX(4vw);
   transition: 1s;
}
[data-anime="left"].animation3{
   opacity: 1;
   transform: translateX(0vw);
   transition: 1s;
}

.overlay {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.589); 
   z-index: 999; 
}


.popup {
   position: fixed;
   top: 50%;
   left: 50%; 
   transform: translate(-50%, -50%); 
   background-color: white; 
   border: 1px solid black;
   padding: 20px; 
   z-index: 1000; 
   border-radius: 20px;
}

.ok{
   border: solid 2px rgb(0, 0, 0);
   padding: 5px 10px 5px 10px;
   margin-top: 1vw;
   border-radius: 10px;
 }
