* {
   border: 0;
   margin: 0;
   padding: 0;
   list-style: none;
   font-size: calc(8px + 1vw);
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a {
   text-decoration: none;
   color: aliceblue;
}

a:hover {
   text-decoration: none;
   color: aliceblue;
   cursor: pointer;
}

h2 {
   overflow-x: hidden;
}

p {
   overflow-x: hidden;
}

button {
   overflow-x: hidden;
}

nav {
   display: flex;
   justify-content: space-between;
   padding: 10px;
   background-color: rgba(188, 107, 242, 0.3);
   height: 6%;
   width: 100%;
   position: fixed;
   z-index: 30;

}

.nav-left {
   display: flex;
   align-self: center;
   z-index: 2;
}

.nav-left ul {
   display: flex;
   flex-direction: row;
   margin-top: 40px;
   margin-right: 40px;
}

.nav-left ul li {
   display: flex;
   flex-direction: row;
   margin-right: 10px;
   z-index: 2;
   position: relative;
}

.nav-left ul li:hover {
   display: flex;
   flex-direction: row;
   margin-right: 10px;
   z-index: 2;
   position: relative;
   cursor: pointer;
}

.nav-left ul li::after {
   background-color: #5D3D73;
   position: absolute;
   width: 100%;
   left: 0;
   bottom: 20px;
   height: 1px;
   content: "";
   transition: 0.5s;
   opacity: 0.5;

}

.nav-left ul li:hover::after {
   background-color: #5D3D73;
   position: absolute;
   width: 100%;
   left: 0;
   bottom: 20px;
   height: 80%;
   content: "";
   transition: 0.5s;
   opacity: 0.5;

}

.nav-right ul {
   display: flex;
   margin-top: 20px;
   margin-right: 40px;
   z-index: 2;
}

.nav-right ul li {
   margin-right: 20px;

}

nav button {
   width: 120px;
   height: 60px;
   border-radius: 20px;
   border: white solid 1px;
   background-color: transparent;
   color: rgb(255, 255, 255);
   font-size: 20px;
   transition: 1s;
   z-index: 2;
}

nav button:hover {
   transition: 1s;
   color: black;
   border: rgb(255, 255, 255) solid 1px;
   background-color: white;
}

.logo {
   display: flex;
   margin-right: 60px;
   height: 100px;
   width: 120px;
}

img.fundo {
   width: 100%;
   height: 100%;
   display: block;
   position: relative;
   z-index: 1;

}

/*
  sec 1
 */
.secpag1conteudo {
   clip-path: polygon(0 25%, 100% 0, 100% 100%, 0% 100%);
   padding-top: 15vw;
   padding-bottom: 8vw;
   display: flex;
   justify-content: space-between;
   background-color: #5D3D73;
   position: relative;
   z-index: 2;
   bottom: 20vw;
   overflow: hidden;
}

.secpag1conteudo img {
   z-index: 1;
   position: relative;
   height: 25vw;
   width: 14vw;
   padding-left: 3vw;


}

.secpag1conteudo {
   text-align: center;
}

.secpag1conteudo h1.titulo {
   font-size: 5vw;
   color: white;
   background-image: linear-gradient(to bottom, #F27C38, white);
   background-clip: text;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}

.secpag1conteudo h2.dia {
   font-size: 2vw;
   color: white;
   background-image: linear-gradient(to bottom, white, white);
   background-clip: text;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}

p.escrita b {
   font-size: 1.7vw;
}

.secpag1conteudo p {
   font-size: 1.7vw;
   margin: 4vw 0vw 4vw 0vw;
   color: white;
}
.cont2 p{
   font-size: 1.7vw;
   padding: 0 6vw 0 6vw;
  }


.new {
   background-color: #5D3D73;
   position: relative;
   top: -20vw;
   padding: 5vw 0 5vw 0;
}

.new h4 {
   color: rgb(227, 232, 236);
   margin: 2vw 0 3vw 0;
   text-align: center;
}

.new h3 {
   color: rgb(227, 232, 236);
   text-align: center;
   margin: 0 0 5vw 0;
}

.new p {
   color: rgb(227, 232, 236);
   text-align: center;
}
.new p.padding {
   padding: 1.5vw 6vw 1.5vw 6vw;
}
.tituloMargin {
   margin-bottom: 3vw;
}

.new ul {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
}

.new ul li ul {
   background-color: #f8cc9a;
   height: 24vw;
   width: 20vw;
   padding: 2.5vw 2vw 2.5vw 2vw;
   display: flex;
   border-radius: 15px;
   margin: 1vw 0 0vw 1vw;
   ;

}

.new ul li ul h3 {
   font-size: 1.2rem;
   color: #000;
   text-align: center;
   margin: 2vw;
}

.new ul li ul p {
   font-size: 0.9rem;
   color: #000;
   text-align: center;

}

.conteudo {
   background-color: #5D3D73;
   display: flex;
   flex-direction: column;
   margin: -20vw 0 0 0;
   padding: 3vw 0 6vw 0;
   overflow: hidden;
}

.conteudo img {
   width: 16vw;
   height: 12vw;
   border-radius: 20px;
}

.conteudo div {
   display: flex;
   justify-content: center;
}

.conteudo ul.recon {
   display: flex;
   text-align: start;
   flex-direction: column;
   margin: 5vw 0 7vw 24vw;
   list-style: disc;
}

.conteudo h2 {
   display: flex;
   text-align: start;
   flex-direction: column;
   font-size: 4vw;
   color: rgb(211, 201, 201);
}

.conteudo ul.recon p {
   display: flex;
   text-align: start;
   flex-direction: column;
   font-size: 1vw;
   color: rgb(211, 201, 201);


}


.conteudo ul.bene {
   display: flex;
   flex-direction: column;
   align-items: center;

}

.conteudo ul.bene li {
   display: flex;
   margin: 0.5vw 3vw 1.5vw 3vw;
   align-items: center;
}

.conteudo ul.bene h3 {
   font-size: 3vw;
   color: rgb(211, 201, 201);
}

.conteudo ul.bene h4 {
   font-size: 2vw;
   color: rgb(211, 201, 201);
}

.conteudo ul.bene p {
   font-size: 1.3rem;
   margin: 1vw 2vw 2vw 2vw;
   color: rgb(211, 201, 201);
   padding: 1vw 5vw 1vw 5vw;
}


section.video{
   background-color: #5D3D73;
   
}

.video h2 {
   color: rgb(211, 201, 201);
   text-align: center;
   font-size: 1.7rem;
   padding: 0 30vw 7vw 30vw;
}
video {
   display: block;
   visibility: visible;
   width: 50%;
   height: auto;
   z-index: 10;
   position: relative;
   padding: 0 0 10vw 25vw;
}
.esp {
   text-align: end;
}

footer {
   background-color: #272727;

}

footer ul {
   display: flex;
   justify-content: space-around;
   align-items: center;
}

footer li img {
   width: 3vw;
   height: 3vw;
}

footer li img.logo {
   width: 8vw;
   height: 8vw;
}

footer p {
   color: white;
}

[data-anime="right"] {
   opacity: 0;
   transform: translateX(4vw);
   transition: 1s;
}

[data-anime="right"].animation {
   transition: 1s;
   opacity: 1;
   transform: translateX(0px);
}

[data-anime="right2"] {
   opacity: 0;
   transform: translateX(4vw);
   transition: 1s;
}

[data-anime="right2"].animation {
   transition: 1s;
   opacity: 1;
   transform: translateX(0px);
}

[data-anime="left"] {
   opacity: 0;
   transform: translateX(4vw);
   transition: 1s;
}

[data-anime="left"].animation3 {
   opacity: 1;
   transform: translateX(0vw);
   transition: 1s;
}

.overlay {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.589);
   z-index: 999;
}


.popup {
   position: fixed;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   background-color: white;
   border: 1px solid black;
   padding: 20px;
   z-index: 1000;
   border-radius: 20px;
}

.ok {
   border: solid 2px rgb(0, 0, 0);
   padding: 5px 10px 5px 10px;
   margin-top: 1vw;
   border-radius: 10px;
}