*{
    border: 0;
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: calc(8px + 1vw);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 }
 html{
  position: relative;
  
 }

 a{
    text-decoration: none;
    color: aliceblue;
 }
 a:hover{
   text-decoration: none;
   color: aliceblue;
   cursor: pointer;
 }
 h2{
  overflow-x: hidden;
 }
 p{
  overflow-x: hidden;
 }
 button{
  overflow-x: hidden;
 }
 nav{
    display: flex;
    justify-content: space-between;
    padding: 10px;     
    background-color: rgba(188, 107, 242, 0.3);
    height: 6%;
    width: 100%;
    position: fixed;
    z-index: 30;
    
 }
 .nav-left {
    display: flex;
    align-self: center;
    z-index: 2;
 }
 .nav-left ul{
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    margin-right: 40px;
 }
 
 .nav-left ul li{
    display: flex;
    flex-direction: row;
    margin-right: 10px;
    z-index: 2;
    position: relative;
 }
 .nav-left ul li:hover{
   display: flex;
   flex-direction: row;
   margin-right: 10px;
   z-index: 2;
   position: relative;
   cursor: pointer;
 }
 .nav-left ul li::after{
    background-color: #5D3D73;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 20px;
    height: 1px;
    content: "";
    transition: 0.5s;
    opacity: 0.5;
  
 }
 .nav-left ul li:hover::after{
    background-color: #5D3D73;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 20px;
    height: 80%;
    content: "";
    transition: 0.5s;
    opacity: 0.5;
  
 }
 .nav-right ul{
    display: flex;
    margin-top: 20px;
    margin-right: 40px;
    z-index: 2;
 }
 .nav-right ul li{
    margin-right: 20px;
  
 }
 nav button{
    width: 120px;
    height: 60px;
    border-radius: 20px;
    border: white solid 1px;
    background-color: transparent;
    color: rgb(255, 255, 255);
    font-size: 20px;
     transition: 1s;
    z-index: 2;
 }
 nav button:hover{
    transition: 1s;
    color: black;
    border: rgb(255, 255, 255) solid 1px;
    background-color: white;
 }
 .logo{
    display: flex;
    margin-right: 60px;
    height: 100px;
    width: 120px;
 }
 img.fundo{
   width: 100%;
   height: 100%;
   display: block;
   position: relative;
   z-index: 1;
  
 }
 /*
  sec 1
 */
 .secpag1conteudo{
   clip-path: polygon(0 25%, 100% 0, 100% 100%, 0% 100%);
   padding-top: 15vw;
   padding-bottom: 8vw;
   display: flex;
   justify-content: space-between;
   background-color: #5D3D73;
   position: relative;
   z-index: 2;
   bottom: 22vw;
  overflow: hidden;
 }
 .secpag1conteudo img{
   z-index: 1;
   position: relative;
   height: 25vw;
   width: 14vw;
   padding-left: 3vw;
   
   
 }
 .secpag1conteudo{
   text-align: center;
 }
 .secpag1conteudo h1{
   font-size: 5vw;
   color: white;
   background-image: linear-gradient(to bottom, #F27C38, white);
   background-clip: text;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
 }
 .secpag1conteudo p{
   font-size: 1.7vw;
   margin: 4vw 0vw 4vw 0vw;
   color: white;
 }
 .cont2{
   margin-right: 4vw;
 }
 .cont2 p{
  padding: 0 6vw 0 6vw;
 }
 .secpag1conteudo button{
   width: 40%;
   height: 4vw;
   border-radius: 2vw;
   border: solid 3px white ;
   background-image: linear-gradient(to right,#F27C38,#BC6BF2);
   color:white ;
   transition: .1s ease-in-out;
   box-shadow: 2px 2px 10px black;
 }
 .secpag1conteudo button:hover{
   transform: scale(107%);
   transition: .1s;
   cursor: pointer;
 }
 section.meio{
    position: relative;
    bottom: 22.1vw;
    background-color: #5D3D73;
    height: 70vw;
    display: flex;
    justify-content: center
 }
 section.meio div{
    display: flex;
    flex-direction: column;
    height: 40vw;
    width: 80vw;
    background-color: #794c97;
    border-radius: 2vw;
 

 }
 section.meio div ul{
    display: flex;
    align-items: center;
 }
 .meio div{
   padding: 3vw 0 6vw 0;
 }
 .meio img{
   margin: 1vw 0 1vw 0;
 }
.meio ul{
   margin: 1.3vw 0 0 0 ;
 }
 .meio ul li ul li p{
  color: white;
   margin: 0vw 4vw 0vw 3vw;
}
.meio ul li ul li p:first-child {
  font-size: 1.22rem;
  padding-bottom: 1vw;
  color: white;
  background-image: linear-gradient(to bottom, #F27C38, white);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.meio ul li{
    margin: -2vw 0 0 0;
 }

ul.li1{
    margin-top: 3vw;
}

.meio ul li a {
  padding-left: 2.3vw;
}

.referencias{
  background-color: #5D3D73;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 6vw 0 6vw 0;
  margin-top: -42vw;
  z-index: 2;
  position: relative;
}
.referencias ul{
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
}
.referencias h3{
  text-align: center;
  font-size: 1.3rem;
  color: wheat;
  margin: 1vw 0 1vw 0;
}
.referencias h2{
  font-size: 2rem;
  color: white;
  background-image: linear-gradient(to bottom, #F27C38, white);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  margin: 4vw 0 3vw;
  font-weight: 100;
}
.referencias h1{
  color: white;
  font-size: 2.3rem;  
  margin: 2vw 0 2vw 0;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.589);
  z-index: 999; 
}
footer{
  background-color: #272727;
  box-shadow: #F28F38;
  position: relative;
  margin-bottom: 0vw;
}
footer ul{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

footer li img{
  width: 3vw;
  height: 3vw;
}
footer li img.logo{
  width: 8vw;
  height: 8vw;
}
footer p{
  color: white;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%; 
  transform: translate(-50%, -50%); 
  background-color: white; 
  border: 1px solid black;
  padding: 20px; 
  z-index: 1000; 
  border-radius: 20px;
}

.ok{
  border: solid 2px rgb(0, 0, 0);
  padding: 5px 10px 5px 10px;
  margin-top: 1vw;
  border-radius: 10px;
}

.overlay {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.589);
   z-index: 999; 
}


.popup {
   position: fixed;
   top: 50%;
   left: 50%; 
   transform: translate(-50%, -50%); 
   background-color: white; 
   border: 1px solid black;
   padding: 20px; 
   z-index: 1000; 
   border-radius: 20px;
}

.ok{
   border: solid 2px rgb(0, 0, 0);
   padding: 5px 10px 5px 10px;
   margin-top: 1vw;
   border-radius: 10px;
 }