*{
    border: 0;
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: calc(8px + 1vw);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 }
 a{
    text-decoration: none;
    color: aliceblue;
 }
 a:hover{
   text-decoration: none;
   color: aliceblue;
   cursor: pointer;
 }
 h2{
  overflow-x: hidden;
 }
 p{
  overflow-x: hidden;
 }
 button{
  overflow-x: hidden;
 }



nav{
    display: flex;
    justify-content: space-between;
    padding: 10px;     
    background-color: rgba(188, 107, 242, 0.3);
    height: 6%;
    width: 100%;
    position: fixed;
    z-index: 30;
    
 }
 .nav-left {
    display: flex;
    align-self: center;
    z-index: 2;
 }
 .nav-left ul{
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    margin-right: 40px;
 }
 
 .nav-left ul li{
    display: flex;
    flex-direction: row;
    margin-right: 10px;
    z-index: 2;
    position: relative;
 }
 .nav-left ul li:hover{
   display: flex;
   flex-direction: row;
   margin-right: 10px;
   z-index: 2;
   position: relative;
   cursor: pointer;
 }
 .nav-left ul li::after{
    background-color: #5D3D73;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 20px;
    height: 1px;
    content: "";
    transition: 0.5s;
    opacity: 0.5;
  
 }
 .nav-left ul li:hover::after{
    background-color: #5D3D73;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 20px;
    height: 80%;
    content: "";
    transition: 0.5s;
    opacity: 0.5;
  
 }
 .nav-right ul{
    display: flex;
    margin-top: 20px;
    margin-right: 40px;
    z-index: 2;
 }
 .nav-right ul li{
    margin-right: 20px;
  
 }
 nav button{
    width: 120px;
    height: 60px;
    border-radius: 20px;
    border: white solid 1px;
    background-color: transparent;
    color: rgb(255, 255, 255);
    font-size: 20px;
     transition: 1s;
    z-index: 2;
 }
 nav button:hover{
    transition: 1s;
    color: black;
    border: rgb(255, 255, 255) solid 1px;
    background-color: white;
 }
 .logo{
    display: flex;
    margin-right: 60px;
    height: 100px;
    width: 120px;
 }

 img.fundo{
   width: 100%;
   height:30vw;

 }
 /* perguntas */ 
  main{
   display: flex;
  }
  p.fala{
   background-color: #D9D9D9;
   padding: 4vw;
   border-radius: 20vw 20vw 20vw 0px;
   font-weight: 600;
   font-size: 3vw;
  }
  div.perguntas{
   background-color: #5D3D73;
   border-radius: 20px;
   padding: 2vw;
   box-shadow: 2px 2px 8px;
  }

  body{
   background-color: #3A2159;
  }

  input{
   border-radius: 20px;
   padding: 5px;
   margin: 1vw 10px 1vw 0;
   outline: none;
  }
  label{
    color: #FFFFFF;
    font-size: 20px;
  }
  .label{
   font-weight: bolder;
   font-size: 1.8vw;
  }
   legend{
      color: #FFFFFF;
      font-weight: bolder;
      font-size: 18px;
      margin: 1vw 10px 1vw 0;
      font-size: 1.8vw
  }
  select{
   border-radius: 10px;
   margin: 1vw 10px 1vw 0;
  }
  button{
   margin: 2vw;
   padding: 1vw 2vw 1vw;
   border-radius: 15px;
   box-shadow: 2px 2px 10px;
   transition: .2s;
  }
  button:hover{
   cursor: pointer;
   transform: scale(105%);
  }
  input:hover{
   outline: solid #3A2159;
  }

/* 
footer
*/
footer{
   background-color: #272727;
  
 }
 footer ul{
   display: flex;
   justify-content: space-around;
   align-items: center;
 }
 
 footer li img{
   width: 3vw;
   height: 3vw;
 }
 footer li img.logo{
   width: 8vw;
   height: 8vw;
 }
 footer p{
   color: white;
 }

 .overlay {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.589); 
   z-index: 999; 
}


.popup {
   position: fixed;
   top: 50%;
   left: 50%; 
   transform: translate(-50%, -50%); 
   background-color: white; 
   border: 1px solid black;
   padding: 20px; 
   z-index: 1000; 
   border-radius: 20px;
}

.ok{
   border: solid 2px rgb(0, 0, 0);
   padding: 5px 10px 5px 10px;
   margin-top: 1vw;
   border-radius: 10px;
 }


.paleta-roxa-e-laranja-1-hex { color: #D95970; }
.paleta-roxa-e-laranja-2-hex { color: #BC6BF2; }
.paleta-roxa-e-laranja-3-hex { color: #5D3D73; }
.paleta-roxa-e-laranja-4-hex { color: #F28F38; }
.paleta-roxa-e-laranja-5-hex { color: #F27C38; }
