<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HealthUp - Alimentação</title>
    <link rel="stylesheet" href="../css/Alimentacao.css">
    <link rel="stylesheet" href="../css/ResetPadrao.css">
    <link rel="stylesheet" href="../css/Cores.css">
    <script src="https://kit.fontawesome.com/7c6760d07c.js" crossorigin="anonymous"></script>
    <link rel="icon" href="../../images/logo-nova.png" type="image/png">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
        </style>
</head>

<body id="body">
    <div id="confirmacao"></div>
    <header id="semCliques">
        <nav class="barranav">
            <aside id="details" class="fechado">
                <summary id="summary" class="fa-solid fa-bars"></summary>
                <ul>
                    <li class="items">
                        <a href="../../../../index.html">Início</a>
                    </li>
                    <li class="items">
                        <a href="Alimentacao.html">Alimentação</a>
                    </li>
                    <li class="items">
                        <a href="Exercicios.html">Exercícios</a>
                    </li>
                    <li class="items">
                        <a href="Equipe.html">Equipe</a>
                    </li>
                </ul>
            </aside>
            <div id="bemVindo">
            </div>
            <div onclick="formRespondido()" class="expPerso">
                Experiencia Personalizada
            </div>
            <div>
               <p> <a href="chat.html">Inteligência Artificial</a></p>
            </div>

        </nav>
    </header>
    <main>
        <section id="semCliquesPrincipal" class="principal">
            <div>
                <h1> <span>ALIMENTAÇÃO!</span></h1>
                <h2>Para manter a forma, alimentação é essencial!</h2>
            </div>
        </section>
        <section>
            <div>
                <h2>Intolerâncias <span>X</span> alergias</h2>
                <p>
                    É importante realizar testes para identificar possíveis alergias e intolerâncias alimentares, pois
                    algumas pessoas podem ter reações graves a certos tipos de alimentos.
                </p>
            </div>
            <div>
                <h3>Intolerâncias:</h3>
                <p>
                    A intolerância alimentar é uma reação do corpo causada pela falta de enzimas necessárias para a
                    digestão, o que dificulta esse processo.
                </p>
            </div>
            <ul class="intolerancias">
                <li></li>
            </ul>
            <div>
                <h3>Alergias:</h3>
            </div>
            <ul class="alergias">
                <li></li>
            </ul>
        </section>
        <section>
            <div>
                <h2>Prato Saudável</h2>
                <p>Para uma alimentação equilibrada, é essencial consumir os nutrientes necessários para o bom
                    funcionamento do organismo. A divisão do prato saudável serve como um recurso visual que orienta a
                    composição de uma refeição balanceada, contendo tudo o que o corpo precisa.
                </p>
            </div>
        </section>
        <section>
            <div>
                <h2>Dicas para uma melhor alimentação</h2>
                <p></p>
            </div>
            <ul>
                <li></li>
            </ul>
        </section>
    </main>
    <footer >
        <div class="DivFooter1">
            <img src="../../images/logo-nova.png" alt="Logo HealthUp">
            <p>&copy; 2024 HealthUp</p>
            <ul>
                <li><a href="#"><span class="fa-brands fa-instagram"></span></a></li>
                <li><a href="#"><span class="fa-brands fa-facebook-f"></span></a></li>
                <li><a href="#"><span class="fa-brands fa-twitter"></span></a></li>
            </ul>
        </div>
    </footer>
    <script src="../../../../Backend/BarraDeNavegacao.js"></script>
</body>

</html>