<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HealthUp - Alimentação</title>
    <link rel="stylesheet" href="../css/ResetPadrao.css">
    <link rel="stylesheet" href="../css/Equipe.css">
    <link rel="stylesheet" href="../css/Cores.css">
    <script src="https://kit.fontawesome.com/7c6760d07c.js" crossorigin="anonymous"></script>
    <link rel="icon" href="../../images/logo-nova.png" type="image/png">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
    </style>
</head>

<body id="body">
    <div id="confirmacao"></div>
    <header id="semCliques">
        <nav class="barranav">
            <aside id="details" class="fechado">
                <summary id="summary" class="fa-solid fa-bars"></summary>
                <ul>
                    <li class="items">
                        <a href="../../../index.html">Início</a>
                    </li>
                    <li class="items">
                        <a href="Alimentacao.html">Alimentação</a>
                    </li>
                    <li class="items">
                        <a href="Exercicios.html">Exercícios</a>
                    </li>
                    <li class="items">
                        <a href="Equipe.html">Equipe</a>
                    </li>
                </ul>
            </aside>
            <div id="bemVindo">
            </div>
            <div onclick="formRespondido()" class="expPerso">
                Experiencia Personalizada
            </div>
            <div>
                <p> <a href="Chat.html">Inteligência Artificial</a></p>
            </div>

        </nav>
    </header>
    <main>
        <section class="principal">
            <div>
                <h1> <span>NOSSA EQUIPE</span></h1>
                <h2>Aqui você encontrará os profissionais que formam a base do nosso projeto. Cada membro contribui com expertise e dedicação, para garantir sua melhor experiência.</h2>
            </div>
        </section>
        <section class="equipe">
            <div>
                <ul class="li1">
                    <li>
                        <ul>
                            <li><img src="../../images/ArthurFofo.png" alt="" class="arthur"></li>
                            <li>
                                <p>Arthur Cândido Benk</p>
                                <p>Design pelo Figma</p>
                                <p>Pesquisa de conteúdo</p>
                                <a href="https://github.com/ArthurBenk" target="_blank"><img src="src/GitHub-Symbol.png" alt="" width="60"></a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <ul>
                            <li><img src="../../images/IanFofo.png" alt=""></li>
                            <li>
                                <p>Ian Matheus Veiga</p>
                                <p>Desenvolvimento HTML</p>
                                <p>Pesquisa de conteúdo</p>
                                <a href="https://github.com/IanMV" target="_blank"><img src="src/GitHub-Symbol.png" alt="" width="60"></a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <ul>
                    <li>
                        <ul>
                            <li><img src="../../images/ErickFofo.png" alt="" class="erick"></li>
                            <li>
                                <p>Erick H. P. de Borba</p>
                                <p>Desenvolvimento CSS</p>
                                <p>Desenvolvimento HTML</p>
                                <a href="https://github.com/Erick-Henrique-Pedrini" target="_blank"><img src="src/GitHub-Symbol.png" alt="" width="60"></a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <ul>
                            <li><img src="../../images/MuriloFofo.png" alt="" class="murilo"></li>
                            <li class="pm">
                                <p>Murilo Jamoski Luciani</p>
                                <p>Programação Java-Script</p>
                                <p>Assistência ao CSS</p>
                                <a href="https://github.com/Murilojamoski" target="_blank"><img src="src/GitHub-Symbol.png" alt="" width="60"></a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <ul>
                    <li>
                        <ul>
                            <li><img src="../../images/GabrielaFofa.png" alt="" class="gabi"></li>
                            <li>
                                <p>Gabriela Senderski</p>
                                <p>Assistência ao Figma e CSS</p>
                                <p>Desenvolvimento HTML</p>
                                <a href="https://github.com/GabrielaSenderski" target="_blank"><img src="src/GitHub-Symbol.png" alt="" width="60"></a>
                            </li>
                        </ul>
                    </li>
                    
                </ul>
            </div>

        </section>
        <section class="referencias">
            <h1>Referências</h1>

            <h2>Conteúdo</h2>
            <h3>Página Alimentação</h3>
            <ul>
                <li><a href="https://www.rededorsaoluiz.com.br/doencas/alergia-alimentar" target="_blank">Alergias
                        alimentares</a>
                </li>
                <li><a target="_blank"
                        href="https://www.rededorsaoluiz.com.br/doencas/intolerancia-alimentar">Intolerâncias
                        alimentares</a>
                </li>
                <li><a target="_blank"
                        href="https://www.ifsc.edu.br/post-ifsc-verifica/-/asset_publisher/uII70Nv266Xk/content/id/10481011/alergias-e-intoler%C3%A2ncias-alimentares-saiba-o-que-s%C3%A3o">Alergias
                        e intolerâncias</a>
                </li>
                <li><a target="_blank" href="https://nutritionsource.hsph.harvard.edu/carbohydrates/">Carboidratos</a>
                </li>
                <li><a target="_blank"
                        href="https://www.gov.br/saude/pt-br/assuntos/saude-brasil/publicacoes-para-promocao-a-saude/guia_alimentar_populacao_brasileira_2ed.pdf/view">Guia
                        alimentar</a></li>
            </ul>
            <h3>Página Exercícios</h3>
            <ul>
                <li><a target="_blank" href="https://www.who.int/health-topics/physical-activity">Atividade física</a>
                </li>
                <li><a target="_blank"
                        href="https://www.sciencedirect.com/science/article/abs/pii/S1934148216301897">Vantagens de
                        exercícios constantes</a></li>
            </ul>
        </section>

    </main>
    <footer >
        <div class="DivFooter1">
            <img src="../../images/logo-nova.png" alt="Logo HealthUp">
            <p>&copy; 2024 HealthUp</p>
            <ul>
                <li><a href="#"><span class="fa-brands fa-instagram"></span></a></li>
                <li><a href="#"><span class="fa-brands fa-facebook-f"></span></a></li>
                <li><a href="#"><span class="fa-brands fa-twitter"></span></a></li>
            </ul>
        </div>
    </footer>
    <script src="../../../../Backend/barranav.js"></script>
</body>

</html>