<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HealthUp - Exercícios</title>
    <link rel="stylesheet" href="../css/ResetPadrao.css">
    <link rel="stylesheet" href="../css/Exercicios.css">
    <link rel="stylesheet" href="../css/modoclaro.css">
    <script src="https://kit.fontawesome.com/7c6760d07c.js" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <nav class="barranav">
            <aside id="details" class="fechado">
                <h2><span id="summary" class="fa-solid fa-bars"></span></h2>
                <ul>
                    <li class="items">
                        <a href="../../../index.html">Início</a>
                    </li>
                    <li class=" items">
                            <a href="Alimentacao.html">Alimentação</a>
                    </li>
                    <li class="items">
                        <a href="Exercicios.html">Exercícios</a>
                    </li>
                    <li class="items">
                        <a href="Equipe.html">Equipe</a>
                    </li>
                </ul>
            </aside>
            <div class="expPerso">
                <a href="Perguntas.html">Experiencia Personalizada</a>
            </div>
            <div>
                <a href="Chat.html" >Inteligencia Artificial</a>
            </div>
        </nav>
    </header>
    <footer>
        <div class="DivFooter1">
            <img src="../../images/Logo1.png" alt="">
            <p>© 2024 HealthUp</p>
            <ul>
                <li><a href="#"><span class="fa-brands fa-instagram"></span></a></li>
                <li><a href="#"><span class="fa-brands fa-facebook-f"></span></a></li>
                <li><a href="#"><span class="fa-brands fa-twitter"></class=></span></a></li>
            </ul>
        </div>
        <div class="DivFooter2">
            <h3>
                Conheça mais sobre nossa equipe:
            </h3>
            <button>
                Nossa Equipe
            </button>
        </div>
    </footer>
    <script src="../../../../Backend/barranav.js"></script>
</body>

</html>