<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HealthUp - Equipe</title>
    <link rel="stylesheet" href="../css/ResetPadrao.css">
    <link rel="stylesheet" href="../css/Exercicios.css">
    <link rel="stylesheet" href="../css/Cores.css">
    <script src="https://kit.fontawesome.com/7c6760d07c.js" crossorigin="anonymous"></script>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
        </style>
</head>

<body>
    <header id="semCliques">
        <nav class="barranav">
            <aside id="details" class="fechado">
                <summary id="summary" class="fa-solid fa-bars"></summary>
                <ul>
                    <li class="items">
                        <a href="../../../index.html">Início</a>
                    </li>
                    <li class="items">
                        <a href="Alimentacao.html">Alimentação</a>
                    </li>
                    <li class="items">
                        <a href="Exercicios.html">Exercícios</a>
                    </li>
                    <li class="items">
                        <a href="Equipe.html">Equipe</a>
                    </li>
                </ul>
            </aside>
            <div id="bemVindo">
            </div>
            <div onclick="formRespondido()" class="expPerso">
                Experiencia Personalizada
            </div>
            <div>
               <p> <a href="Chat.html">Inteligência Artificial</a></p>
            </div>

        </nav>
    </header>
    <footer >
        <div class="DivFooter1">
            <img src="../../images/logo-nova.png" alt="Logo HealthUp">
            <p>&copy; 2024 HealthUp</p>
            <ul>
                <li><a href="#"><span class="fa-brands fa-instagram"></span></a></li>
                <li><a href="#"><span class="fa-brands fa-facebook-f"></span></a></li>
                <li><a href="#"><span class="fa-brands fa-twitter"></span></a></li>
            </ul>
        </div>
    </footer>
    <script src="../../../../Backend/barranav.js"></script>
</body>

</html>