<!DOCTYPE html>
<html lang="pt-br">

<head>
    <!-- PÁGINA DE EXERCÍCIOS -->
    <meta charset="UTF-8">
    <link rel="stylesheet" href="resetPadrao.css">
    <link rel="stylesheet" href="style4.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HealthUp - Exercícios</title>
    <link rel="stylesheet" href="../css/ResetPadrao.css">
</head>

<body>
    <header>
        <nav>
            <div class="nav-left">
                <img class="logo" src="src/Logo-Roxa.png" alt="Logo HealthUp" id="logo"
                    onclick="redirecionar('index.html')">
                <ul class="pags">
                    <li onclick="redirecionar('index.html')"><a>Início</a></li>
                    <li onclick="Exercicios()"><a>Exercícios</a></li>
                    <li onclick="redirecionar('indexAlimentacao.html')"><a>Alimentação</a></li>
                    <li onclick="redirecionar('indexEquipe.html')"><a>Nossa Equipe</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        <section>
            <div>
                <h1>EXERCÍCIOS!</h1>
                <p>A seguir algumas dicas e recomendações de exercícios!</p>
            </div>
        </section>
        <section>
            <div>
                <h2>Seja gentil consigo mesmo!</h2>
                <p>
                    Comparar-se com outros te deixa ansioso, o foco deve ser cuidar de si com respeito. Devemos nos
                    exercitar para saúde, bem-estar e diversão, não para um "corpo ideal". Sentir-se bem consigo é o
                    mais importante.
                </p>
                <p>
                    Escolha atividades físicas que te tragam alegria, como dançar, caminhar, fazer ioga ou praticar
                    esportes, torne o movimento do corpo algo prazeroso.
                </p>
            </div>
        </section>
        <section>
            <div>
                <h2>Pré-Treino!</h2>
                <p>É importante se preparar antes de começar o treino então algumas dicas!</p>
            </div>
            <div>
                <ul>
                    <li>
                        <p> Consuma uma refeição pré-treino 1 a 3 horas antes do exercício, combinando carboidratos
                            complexos e proteínas para energia e reparação muscular. Opções incluem sanduíche de peru,
                            banana com manteiga de amendoim ou vitamina com whey protein. Para algo rápido, escolha uma
                            barra de cereais ou uma maçã.</p>
                        <a target="_blank" href="https://www.onepeloton.com/blog/what-to-eat-before-a-workout/">Leia
                            mais em...</a>
                    </li>
                    <li>
                        <p>
                            Faça exercícios de alongamento antes e depois da atividade física. Eles protegem seu músculo
                            de possíveis lesões.
                        </p>
                        <a target="_blank"
                            href="https://www.gov.br/saude/pt-br/assuntos/saude-brasil/eu-quero-me-exercitar/noticias/2018/alongamento-e-bom-antes-e-depois-da-atividade-fisica#:~:text=Antes%20e%20depois%20de%20atividades,em%20todas%20as%20faixas%20et%C3%A1rias.">Leia
                            mais em...</a>
                        <iframe width="560" height="315"
                            src="https://www.youtube.com/embed/9JDlYJWD46o?si=0rhZ9vHDUEmBVukG"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    </li>
                </ul>
            </div>
        </section>
        <section>
            <div>
                <h2>DURANTE O TREINO!</h2>
                <p>O processo dos exercícios é a etapa mais importante!</p>
            </div>
            <div>
                <ul>
                    <li>
                        <h4>Faça os exercícios corretamente:</h4>
                        <p>
                            A execução é a parte mais importante do exercício, não adianta colocar muito peso e não
                            executar de forma correta. Grande parte das lesões acontecem por conta disso.
                        </p>
                        <ul>
                            <li>
                                <a target="_blank"
                                    href="https://www.youtube.com/channel/UCYjNTxYRyIoCgRdfDsC0z_Q">@raquelcastanharo
                                </a>
                                <p>Ela da dicas sobre corridas... </p>

                            </li>
                            <li>
                                <a target="_blank" href="@raquelcastanharo">@zkramos</a>
                                <p>Ele faz um conteúdo incrível sobre alongamentos e sua flexibilidade!</p>
                            </li>

                        </ul>
                    </li>
                    <li>
                        <h4> Se estiver com dor, pare o exercício:</h4>
                        <p>

                            Se você está com dor, é sinal de que o músculo já está cansado. Não force mais. Prefira
                            parar o exercício e continuar depois do descanso do que sofrer uma lesão.
                        </p>
                    </li>
                    <li>
                        <h4> Use equipamentos de segurança:</h4>
                        <p>
                            Se a atividade que você pratica exige equipamentos de segurança (como joelheiras, caneleiras
                            e
                            outros acessórios), não abra mão de usá-los.
                        </p>
                    </li>
                    <li>
                        <h4> Evite fazer exercícios no calor extremo:</h4>
                        <p>
                            O calor exige mais do corpo e pode sobrecarregar os músculos. Prefira se exercitar em
                            horários
                            mais frescos, como pela manhã ou à noite.
                        </p>
                    </li>
                    <li>
                        <h4> Hidrate-se:</h4>
                        <p>

                            Ao começar um exercício, beba bastante água. Tenha uma garrafinha ao seu lado.
                        </p>
                    </li>
                </ul>
            </div>
        </section>
        <section>
            <div>
                <h2>
                    APÓS O TREINO!
                </h2>
            </div>
            <div>
                <ul>
                    <li>
                        <h4>Exercicios de alongamento</h4>
                        <p>
                            Realizar alongamentos após o treino ajuda a relaxar os músculos, melhorar a flexibilidade e
                            reduzir a rigidez no dia seguinte. O alongamento estático, com posições mantidas por 15 a 30
                            segundos, é especialmente eficaz.
                        </p>
                    </li>
                    <li>
                        <h4>Uma boa noite de sono:</h4>
                        <p> Uma boa noite de sono é essencial para a recuperação muscular e para maximizar os resultados
                            do treino. É durante o sono que o corpo se recupera e se prepara para novos desafios.
                        </p>
                    </li>
                    <li>
                        <h4>
                        </h4>
                        <p> Após o exercício, o corpo entra em recuperação e necessita de proteínas e carboidratos para
                            reparação e crescimento muscular. Consuma alimentos como frango com arroz integral, ovos com
                            torrada ou um shake de proteína com frutas entre 30 minutos e 2 horas após o treino.
                        </p>
                    </li>
                    <li><iframe width="560" height="315"
                            src="https://www.youtube.com/embed/P_r-3CNu0rw?si=733x68oqBvmSB8Uh"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe></li>
                </ul>
            </div>
        </section>
        <section>
            <div>
                <h2></h2>
            </div>
            <div>
                <div>
                    <h3>Somatipos: Ectomorfos, Mesomorfos e Endopmorfos - Mito ou Verdade?</h3>
                    <p>É comum vermos os somatipos sendo usados por influencers mas eles tem base </p>
                    <p>Os somatipos são usados para classsificar tipos de corpos:</p>
                    <ul>
                        <li>
                            <p>
                                Ectomorfo: Corpo magro, com ombros mais rentes à cintura dificuldade para ganhar peso e
                                músculos, com membros longos e pouca gordura corporal.
                            </p>
                        </li>
                        <li>
                            <p>
                                Mesomorfo: Corpo musculoso e atlético,ombros mais largos que a cintura e facilidade para
                                ganhar massa muscular e manter baixos níveis de gordura.
                            </p>
                        </li>
                        <li>
                            <p>
                                Endomorfo: Corpo com maior tendência a acumular gordura, formas arredondadas e
                                facilidade
                                para ganhar peso.
                            </p>
                        </li>
                    </ul>
                    <p>
                        Os somatotipos, embora úteis como introdução teórica às diferenças dos corpos, são simplistas e
                        inadequados para abordar a complexidade do corpo humano e não tem fundamentos científicos.
                    </p>
                    <p>
                        Mudanças no corpo podem ocorrer devido a dieta, exercício e estilo de vida, o que torna a
                        classificação inadequada para análises detalhadas ou planejamento de saúde e treino.
                    </p>
                    <p>
                        Não recomendamos ficar vidrado em "Treinos pra cada somatipo!" e "Dietas para cada somatipo!".
                        Os somatipos descrevem alguns padrões de corpos, os corpos são muito mais complexos.
                    </p>
                </div>
            </div>
        </section>

    </main>
</body>

</html>