<!DOCTYPE html>
<html lang="pt-br">

<head>
    <!-- PÁGINA DE EXERCÍCIOS -->
    <meta charset="UTF-8">
    <link rel="stylesheet" href="resetPadrao.css">
    <link rel="stylesheet" href="style4.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HealthUp - Exercícios</title>
    <link rel="stylesheet" href="../css/ResetPadrao.css">


</head>

<body>
    <header>
        <nav>
            <div class="nav-left">
                <img class="logo" src="src/Logo-Roxa.png" alt="Logo HealthUp" id="logo"
                    onclick="redirecionar('index.html')">
                <ul class="pags">
                    <li onclick="redirecionar('index.html')"><a>Início</a></li>
                    <li onclick="Exercicios()"><a>Exercícios</a></li>
                    <li onclick="redirecionar('indexAlimentacao.html')"><a>Alimentação</a></li>
                    <li onclick="redirecionar('indexEquipe.html')"><a>Nossa Equipe</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        <section>

            <h1>EXERCÍCIOS!</h1>
            <p>A seguir algumas dicas e recomendações de exercícios!</p>
        </section>
        <section>
            <div>
                <h2>Pré-Treino!</h2>
                <p>É importante se preparar antes de começar o treino então algumas dicas:</p>
            </div>
            <div>
                <ul>
                    <li>
                        <p> Uma boa refeição pré-treino deve ser consumida de 1 a 3 horas antes do exercício. incluir
                            uma
                            boa combinação de
                            carboidratoscomplexos, que fornecem energia sustentada eproteínas, que
                            ajudam na
                            reparação e crescimento muscular. Exemplos incluem uma refeição leve como um sanduíche de
                            peru
                            em pão
                            integral, uma banana com manteiga de amendoim, ou uma vitamina de frutas com
                            whey proteinSe
                            você não
                            tiver tempo para uma refeição completa, um pequeno lanche como uma barra de cereais ou uma
                            maçã
                            também
                            pode ser suficiente.</p>
                    </li>
                    <li>
                        <p>
                            Faça exercícios de alongamento antes e depois da atividade física. Eles protegem seu músculo
                            de possíveis lesões.

                        </p>
                    </li>
                </ul>
            </div>
        </section>
        <section>
            <div>
                <h2>Durante o treino</h2>
                <p>É importante </p>
            </div>
            <div>
                <ul>
                    <li>
                        <p>
                        <h4>Faça os exercícios corretamente:</h4>
                        A execução é a parte mais importante do exercício, não adianta colocar muito peso e não
                        executar de forma correta. Grande parte das lesões acontecem por conta disso.</p>

                    </li>
                    <li>
                        <p>
                        <h4> Se estiver com dor, pare o exercício:</h4>
                        Se você está com dor, é sinal de que o músculo já está cansado. Não force mais. Prefira
                        parar o exercício e continuar depois do descanso do que sofrer uma lesão.

                        </p>
                    </li>
                    <p>
                    <h4> Use equipamentos de segurança:</h4>
                    Se a atividade que você pratica exige equipamentos de segurança (como joelheiras, caneleiras e
                    outros acessórios), não abra mão de usá-los.
                    </p>
                    <li>
                        <p>
                        <h4> Evite fazer exercícios no calor extremo:</h4>
                        O calor vai fazer com que seu corpo se esforce mais para gastar energia, sobrecarregando os
                        músculos. Prefira fazer atividades em períodos do dia em que a temperatura está mais amena,
                        como de manhã ou à noite
                        </p>
                    </li>
                    <li>
                        <p>
                        <h4> Hidrate-se:</h4>
                        Antes de começar um exercício, beba bastante água e durante também.

                        </p>
                    </li>
                </ul>
            </div>
        </section>
        <section>
            <div>
                <h2>
                    APÓS O TREINO!
                </h2>
            </div>
            <div>
                <ul>
                    <li>
                        <h4>Exercicios de alongamento</h4>
                        <p>
                            Além disso, é importante realizar exercícios de alongamento e relaxamento após o treino.
                            Isso
                            não só
                            ajuda a relaxar os músculos, mas também melhora a flexibilidade e reduz a rigidez muscular
                            no
                            dia
                            seguinte. O alongamento estático, onde você mantém cada posição por 15 a 30 segundos, é
                            especialmente
                            eficaz após o treino.

                        </p>
                    </li>
                    <li>
                      
                        <h4>Uma boa noite de sono:</h4>
                       <p>   Por fim, nunca subestime a importância de uma boa noite de sono. O sono é quando a maioria dos
                        processos
                        de recuperação muscular acontece. Dormir bem após um dia de treino intenso é essencial para
                        maximizar os
                        resultados e preparar o corpo para o próximo desafio.
                        </p>
                    </li>
                    <li>

    <h4>

    </h4>
  <p>  Após o exercício, o corpo entra em um estado de recuperação, onde os músculos que foram
    trabalhados
    precisam de nutrientes para se reparar e crescer. Consumir uma refeição rica em proteínas e
    carboidratos
    dentro de 30 minutos a 2 horas após o treino é ideal. Alimentos como peito de frango com arroz
    integral
    e vegetais, ovos com torrada integral, ou um shake de proteína com frutas são boas opções.

</p>
                    </li>
                </ul>

            </div>
        </section>
    </main>

</body>

</html>