<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>HealthUp - Plano Personalizado</title>
  <script src="https://kit.fontawesome.com/7c6760d07c.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="../css/Cores.css">
  <link rel="stylesheet" href="../css/Perguntas.css">
  <link rel="stylesheet" href="../css/ResetPadrao.css">
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
    </style>

</head>

<body id="pagina">
  <main>
    <div id="alerta"></div>
    <section id="semCliques">
      <div>
        <h1>Formulário:</h1>
        <h2>Complete o formulário para ajudarmos.</h2>
      </div>
      <ul>
        <li>
          <label for="nome">Nome:</label>
          <input class="inputNome" type="text" id="nome" name="nome" placeholder="...">
        </li>
        <li>
          <label for="segundoNome">Segundo Nome:</label>
          <input class="inputSegundoNome" type="text" id="segundoNome" name="segundoNome" placeholder="...">
        </li>
      </ul>
      <ul>
        <li>
          <label for="peso">Peso:</label>
          <input type="number" id="peso" name="peso" placeholder="Kg">
        </li>
        <li>
          <label for="altura">Altura:</label>
          <input type="number" id="altura" name="altura" placeholder="Cm">
        </li>
      </ul>
      <ul>
        <li>
          <label class="labelData" for="nascimento">Data de nascimento:</label>
          <input class="inputData" type="date" id="nascimento" name="nascimento">
        </li>
        <li>
          <label class="labelSexo" for="sexo">Sexo:</label>
          <select name="sexo" id="sexo">
            <option value="1">Masculino</option>
            <option value="2">Feminino</option>
          </select>
        </li>
      </ul>

      <fieldset>
        <legend>Tem alguma lesão?</legend>
        <div>
          <input type="radio" id="nao" name="lesao" value="nao">
          <label for="nao">Não</label>
          <input type="radio" id="inferiores" name="lesao" value="perna">
          <label for="inferiores">Membros inferiores</label>
          <input type="radio" id="superiores" name="lesao" value="bracos">
          <label for="superiores">Membros superiores </label>
        </div>
      </fieldset>
      <fieldset>
        <legend>Qual exercício gostaria de adicionar à sua rotina?</legend>
        <div>
          <div>
            <input type="radio" id="ciclismo" name="exercicio" value="ciclismo">
            <label for="ciclismo">Ciclismo</label>
            <input type="radio" id="natacao" name="exercicio" value="natação">
            <label for="natacao">Natação</label>
            <input type="radio" id="caminhada" name="exercicio" value="caminhada">
            <label for="caminhada">Caminhada</label>
          </div>
          <div>
            <input type="radio" id="volei" name="exercicio" value="volei">
            <label for="volei">Vôlei</label>
            <input type="radio" id="fut" name="exercicio" value="futebol">
            <label for="fut">Futebol</label>
            <input type="radio" id="basquete" name="exercicio" value="basquete">
            <label for="basquete">Basquete</label>
          </div>
        </div>
      </fieldset>
      <div class="botoes">
        <button class="botaoCancelar" onclick="confirmarSaida()">Cancelar</button>
        <button class="botaoEnviar" onclick="semCliques.classList.add('semCliques');" id="button">Enviar</button>
      </div>
    </section>
  </main>
  <script src="../../../../Backend/Perguntas.js"></script>
</body>

</html>