<!DOCTYPE html>
<html lang="pt-br">

<head>
  <!-- PÁGINA DE PERGUNTAS -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Plano Personalizado</title>
  <link rel="stylesheet" href="resetPadrao.css">
  <link rel="stylesheet" href="style2.css">
  <script src="redirecionar.js" defer></script>
  <link rel="icon" type="imagem/png" href="src/Logo-Favicon.png"/>
</head>

<body>
  <header>
    <nav>
      <div class="nav-left">
        <img class="logo" src="src/Logo-Roxa.png" alt="Logo HealthUp" id="logo" onclick="redirecionar('index.html')">
        <ul class="pags">
          <li onclick="redirecionar('index.html')"><a>Início</a></li>
          <li onclick="Exercicios()"><a>Exercícios</a></li>
          <li onclick="redirecionar('indexAlimentacao.html')"><a>Alimentação</a></li>
          <li onclick="redirecionar('indexEquipe.html')"><a>Nossa Equipe</a></li>
        </ul>
      </div>
    </nav>

    <div>
      <img class="fundo" src="src/fundo pag 2.png" alt="Fundo levemente roxo com pessoas andando na rua">
    </div>
  </header>
  <main>
    <div>
      <img class="ernestro" src="src/ernestro2.png" alt="Mascote da HealthUp">
    </div>
    <div class="Container">
      <p><img src="src/ernestro questions.png" alt=""></p>
      <div class="perguntas">
        <label for="nome" class="label">Nome</label>
        <input type="text" placeholder="..." id="nome" name="nome">
        <label for="peso" class="label" id="">Peso</label>
        <input type="number" id="peso" name="peso" placeholder="Kg">
        <p>
          <label for="altura" class="label">Altura</label>
          <input type="number" id="altura" name="altura" placeholder="Cm">
        </p>
        <p>
          <label class="label" for="sexo">Sexo</label>
          <select name="sexo" id="sexo">
            <option value="1">Masculino</option>
            <option value="2">Feminino</option>
          </select>
        </p>
        <p>
        <p>
          <legend>Tem alguma lesão?</legend>
          <label><input type="radio" name="lesao" value="nao">Não</label>
          <label><input type="radio" name="lesao" value="perna">Membros inferiores</label>
          <label><input type="radio" name="lesao" value="bracos">Membros superiores </label>
        </p>
        <p>
          <legend>Qual exercício gostaria de adicionar à sua rotina?</legend>
          <label><input type="radio" name="exercicio" value="ciclismo">Ciclismo</label>
          <label><input type="radio" name="exercicio" value="natação">Natação</label>
          <label><input type="radio" name="exercicio" value="caminhada">Caminhada</label>
          <label><input type="radio" name="exercicio" value="volei">Vôlei</label>
          <label><input type="radio" name="exercicio" value="futebol">Futebol</label>
          <label><input type="radio" name="exercicio" value="basquete">Basquete</label>
        </p>
      </div>
      <p>
        <button class="Button" id="button">Enviar</button>
      </p>
    </div>
  </main>
  <footer>
    <ul>
      <li>
        <img src="src/Logo-Cinza.png" alt="logo" class="logo" onclick="redirecionar('index.html')">
      </li>
      <li>
        <p>&copy; 2024 HealthUp</p>
      </li>
      <li>
        <a href="https://www.instagram.com/"><img src="src/instagram.png" alt="instagram"></a>
        <a href="https://x.com/"><img src="src/twitter(x).png" alt="Twitter(x)"></a>
        <a href="https://pt-br.facebook.com/"><img src="src/facebook.png" alt="facebook"></a>
      </li>
    </ul>

  </footer>
</body>

</html>
<script src="script2.js"></script>